[2019-05-13 07:53] Neo00001 commented on #2692
yup... firecfg --fix didn't fix it... so there is no way to resolve it,at this moment.

[2019-05-13 07:58] VPNReyMan commented on #2693
I mounted /proc to the chroot/proc directory so that a non-root user would have access to those files. Signal still did not run, but it runs under root, so it is something else the firejail sandbox is preventing even though it is running with no profile

[2019-05-13 11:10] SkewedZeppelin commented on #2693
Why do you want a chroot? There is also an existing signal-desktop profile

just `firejail /opt/Signal/signal-desktop`

[2019-05-13 11:13] SkewedZeppelin commented on #2692
You can manually copy `/usr/share/applications/atom.desktop` to `~/.local/share/applcations`
and edit the `Exec` line to be `Exec=atom`

[2019-05-13 22:33] VPNReyMan commented on #2693
chroot is necessary because it does not run on non-debian distributions thus it needs a debian chroot

[2019-05-14 07:35] rusty-snake commented on #2693
@VPNReyMan wicht distro are you using?

There is an [AUR packages](https://aur.archlinux.org/packages/signal-desktop-bin/) and you can build it by your self (https://github.com/signalapp/Signal-Desktop).

You can also use flatpak `flatpak install flathub org.signal.Signal` or snap (https://snapcraft.io/signal-desktop).

[2019-05-14 08:53] Neo00001 commented on #2692
didn't work...

[2019-05-14 14:22] berezhinskiy opened #2695 "reboot works with --seccomp"
Firejail version 0.9.52
[code]
I expect that reboot will be denied due to --seccomp option.
Nevertheless, reboot works. Here is output:

[code]

[2019-05-14 15:49] SkewedZeppelin commented on #2695
Are you running systemd? those are probably invoked through dbus or the like.
Try with `--nodbus --net=none`

[2019-05-14 17:32] berezhinskiy commented on #2695
9.52 has no --nodbus option. I compile latest (0.9.60~rc1), result is the same:

[code]
I'm using clean Ubuntu 18.04.2
[code]
Thank you.

[2019-05-14 18:17] rusty-snake commented on #2205
@iskunk maybe `firejail --nodbus --x11=xephyr  openbox` works.

[2019-05-14 18:20] #2175 closed

[2019-05-14 18:26] rusty-snake commented on #2135
Or `echo "env HTTP_PROXY=http://127.0.0.1:3128" >> $HOME/.config/firejail/PROGRAMM.local`

[2019-05-14 18:28] rusty-snake commented on #2136
@TNTBOMBOM still an issue?

[2019-05-14 23:25] chargrnv opened #2696 "O_PATH undeclared (CentOS 6)"
OS: CentOS 6.10
Version: 0.9.56-LTS (and newer)

I believe this would be provided by the kernel, but on CentOS 6 the kernel is too old.

http://man7.org/linux/man-pages/man2/open.2.html
O_PATH (since Linux 2.6.39)

[code]

[code]

0.9.54 builds OK under centos 6.

Is it possible for configure to check for the feature and have it optionally enabled/disabled?

I thought I had seen a patch posted pre

[2019-05-15 06:31] Raj2032 commented on #2175
@rusty-snake I am sorry I missed this message.

[2019-05-15 10:20] Vincent43 commented on #2696
Centos 6.10 is near end-of-life with only crucial security updates supported. Is there a reason you didn't migrated to 7.x yet and/or you need firejail 0.9.56+ there?

[2019-05-15 11:08] topimiettinen commented on #2695
`--nodbus` actually blocks access only to user session D-Bus (socket path `/run/user/UID/dbus`). `reboot` command under systemd connects to system D-Bus with different path (`/run/dbus/system_bus_socket`), so it is not blocked. Seccomp filters would block if `reboot` command attempted to use system call `reboot(2)` directly, which would happen with `reboot -f -f` but not in your case.

We could ad

[2019-05-15 11:14] TNTBOMBOM commented on #2136
Yes but with Debian Buster by installing firejail-profiles (0.9.58.2-1)

https://packages.debian.org/buster/firejail-profiles

Since it wont be pushed to stretch , so the solution only in buster versions.

feel free to close ticket

[2019-05-15 11:15] #2136 closed

[2019-05-15 11:53] rusty-snake commented on #2695
@topimiettinen you reminded me that if you use systemd, you can use polkit to define permissions for unpreveiled users to use reboot (halt, suspend, ...).

[2019-05-15 13:16] topimiettinen commented on #2695
I made PR #2697, which makes `--nodbus` block also system bus.

[2019-05-15 13:30] rusty-snake commented on #2695
Just as an basic idea:
/etc/polkit-1/rules.d/50-deny-firejailed-reboots.rules
[code]

[2019-05-15 14:31] Vincent43 commented on #2695
I think `--nodbus` should block all dbus without additional polkit hacks.

[2019-05-15 19:05] chargrnv commented on #2696
Moving to CentOS 7, but still have a lot of CentOS 6 and try and keep new versions of tools available.  Thought LTS was "long term support" and was trying to support older OS.

[2019-05-15 20:37] Vincent43 commented on #2696
Yes, however there are limits how old things it supports. Your kernel was released almost 10 years ago. This a time range of enterprise class support rather than most of community projects. I'm not saying support for it won't be added but it can't be taken for granted.

[2019-05-16 01:04] rieje opened #2698 "firejailed ssh tunnel not authenticated"
I use Syncthing and want to access the [remote GUI via ssh tunneling](https://docs.syncthing.net/users/firewall.html#remote-web-gui). I have the following shell function:

[code]

It works if I don't firejail it (i.e. `/usr/bin/ssh`); but doesn't work when jailed (i.e. `/usr/local/binssh`). It won't authenticate the ssh session (I just see the randomart image until it times out). Canceling it (Ctr

[2019-05-16 08:46] nejejn opened #2699 "Error: no suitable proxychains4 executable found"
Hi, my browser is [Tor Browser without Tor](https://www.whonix.org/wiki/Tor_Browser_without_Tor).
If I run `firejail --profile=/etc/firejail/start-tor-browser.profile proxychains4 /home/me/tor-browser_en-US/Browser/start-tor-browser`

I get

[code]
Please note Firefox runs, if I use `firejail --profile=/etc/firejail/firefox.profile proxychains4 firefox`

Setup:

firejail 0.9.58
proxychains-ng 4.14

[2019-05-16 10:06] glitsj16 commented on #2699
@nejejn The profile uses private-bin, which doesn't contain proxychains4. You'll need to add `private-bin proxychains4` to either /etc/firejail/start-tor-browser.local or ~/.config/firejail/start-tor-browser.local.

PS: you can use the shorter `--profile=start-tor-browser` format instead of '--profile=/etc/firejail/start-tor-browser.profile'.

[2019-05-16 10:23] glitsj16 commented on #2698
@rieje Have you tried to debug authentication issues using ssh's -v option? Showing debug log(s) here would be more informative to see what's actually happening. You can use something like:

`$ firejail --debug /usr/bin/ssh -v -fNT -L 9999:localhost:8384 -o "ControlMaster auto" -o "ControlPath /tmp/syncthing-%u@%n.socket" pi | tee debug.log 2>&1`

[2019-05-16 11:16] rusty-snake commented on #2699
@nejejn or to test: `firejail --profile=start-tor-browser --private-bin=proxychains4 proxychains4 /home/me/tor-browser_en-US/Browser/start-tor-browser`

[2019-05-16 11:24] rusty-snake commented on #2698
`firejail sh -c "sleep 1m &"` didn't go in background. Not sure how firejail handel stdin/out and fg/bg.

[2019-05-16 12:19] smitsohu opened #2700 "firemon error: recv: No buffer space available"
This looks like a non-deterministic bug.

In one terminal run `sudo firemon`, then start a sandbox:
[code]

If the code is instrumented with `fsanitize=undefined`, this is the result:
[code]

[2019-05-16 15:12] smitsohu commented on #2696
Vanilla kernels older than 3.6 are unsupported currently, because of (from `man 2 open`)

....
The following operations can be performed on the resulting file descriptor:
close(2); fchdir(2) (since Linux 3.5); fstat(2) (since Linux 3.6).

But the patched CentOS/RedHat kernel seems to be fine, providing O_PATH is all we need to do.

[2019-05-16 21:51] smitsohu commented on #2700
I should add that I'm seeing the UBSan messages only on one machine, I cannot reproduce them for example in my virtual machines. Currently no idea why is that.

[2019-05-16 21:56] SkewedZeppelin commented on #2700
I've seen this error before from firemon, but haven't in a while.

[2019-05-17 02:04] rieje commented on #2698
@glitsj16 Here's the [output](http://sprunge.us/2BIEPx). Actually, it doesn't timeout, so i did `ctrl+c`. Also, there's stout to terminal not shown on debug.log if that's relevant:

    debug1: Reading configuration data /home/rieje/.ssh/config
    debug1: /home/gcheng/.ssh/config line 20: Applying options for pi
    debug1: /home/gcheng/.ssh/config line 32: Applying options for *
    debug1: /hom

[2019-05-17 03:19] SkewedZeppelin opened #2702 "SELinux denials under Fedora 30 every sandbox start"
Anytime a firejail sandbox is created under Fedora 30 journald attempts to `kill` itself (?) for whatever reason and this causes a denial. This didn't happen under 29. The issue also persists even with `--disable-userns`.

I've reported it here https://bugzilla.redhat.com/show_bug.cgi?id=1711122

I'm not sure what part is at fault here, firejail or Fedora's selinux-policy.

[2019-05-17 03:35] SkewedZeppelin commented on #2702
Okay, this is probably a firejail issue.
It does *not* occur when `disable-common.inc` is commented in a profile.

[2019-05-17 03:40] glitsj16 commented on #2698
Deprecated option can be safely removed from /home/gcheng/.ssh/config

Try using a socket path that's guaranteed to be accessible with firejail, e.g. ~/.ssh/syncthing-%u@%n.socket.

[2019-05-17 05:06] VampireFox2 opened #2703 "Firefox is Working Only in Noprofile mode, is this normal? "New User""
Hi,

This is my first time ever working with Firejail and I'm liking it so far. So I installed the **firejail-apparmor_0.9.58.2_1_amd64.deb** and **firetools_0.9.58_1_amd64.deb** files and went through **"Section 1. Technology"** and **"Section 2. Usage and Configuration basic usage"** in the guide.

I didn't use the pakages in the Ubuntu repositories because their a bit outdated:

 It seems that

[2019-05-17 05:44] rieje commented on #2698
Same issue, unfortunately.

[2019-05-17 06:47] glitsj16 commented on #2698
@rieje I use SSH tunneling (for other purposes than syncthing) with firejail succesfully and reliably, so it is possible. Just keep experimenting with it. Personally I always disable sockets by using `ControlPath none` and use firejail --shutdown=foo to kill the SSH session (with a fallback using pkill). Here's an example of how your shell function could look like:

[code]

[2019-05-17 12:16] cokeflash opened #2706 "Can't get tor-browser to run with Firejail"
Hi!
I can't get tor-browser to run with Firejail.

I edited "torbrowser-launcher.profile".

[code]

then edited: `disable-programs.inc`

[code]

I typed in terminal...

``$ firejail torbrowser-launcher``

A error appears:
[code]

Firejail don't found the EXEC file of tor-browser.
When I typed in terminal `/mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser`... tor-browser starts.

How can

[2019-05-17 12:47] rusty-snake commented on #2703
@VampireFox2 can you try `firejail --ignore=apparmor firefox` and past `firejail --debug firefox`.

PS: With 3 ` you can do a codeblock with linebreaks inside.

You can do both. I would prefer always running firefox in firejail.

[2019-05-17 12:50] rusty-snake commented on #2706
1. Can you please use codeblock in the future for profiles (its easyer to read).
2. You need to remove `noexec /tmp` and `private-tmp`

[2019-05-17 16:49] VampireFox2 commented on #2703
So I ran `firejail --ignore=apparmor firefox` and got the same output as running `firejail firefox`.

So towards the end of the output after running `firejail --debug firefox` this is displayed:

[code]
I guess it's having some troubles with Firefox.

[2019-05-17 16:53] Vincent43 commented on #2703
Try `sudo aa-disable usr.bin.firefox`.

[2019-05-17 16:58] Vincent43 commented on #2695
I think we can count this as fixed by https://github.com/netblue30/firejail/pull/2697

[2019-05-17 16:58] #2695 closed

[2019-05-17 16:59] Vincent43 commented on #2696
Fixed by https://github.com/netblue30/firejail/commit/203e34db60e9200a53708c425868a041e32eaf0d

[2019-05-17 16:59] #2696 closed

[2019-05-17 17:05] VampireFox2 commented on #2703
Ok so after comparing these three commands with the previous outputs after disabling the Firefox profiles I get the same output for all of them. Weird... so maybe it's not apparmor. I have no idea,

[2019-05-17 17:22] VampireFox2 commented on #2703
**Edit: "My bad, I had to reboot. It works now".**

[2019-05-17 17:22] #2703 closed

[2019-05-17 20:04] chargrnv commented on #2696
Thanks!

[2019-05-17 21:46] SkewedZeppelin commented on #2702
Closing as unrelated.
Apologies for the mail spam.

[2019-05-17 21:46] #2702 closed

[2019-05-18 10:38] openffchrome commented on #2689
`irejail --env=LD_PRELOAD='/usr/lib/libhardened_malloc.so' --x11=xephyr --profile=/home/moi/.config/firejail/firefox.profile openbox --startup firefox`

is this the correct way to use hardened malloc for firefox with xephyr ruining openbox ?

[2019-05-18 13:45] nejejn commented on #2699
@rusty-snake I tried `firejail --profile=start-tor-browser --private-bin=proxychains4 --private-etc=proxychains.conf proxychains4 /home/me/tor-browser_en-US/Browser/start-tor-browser` and it works.

[2019-05-18 13:45] #2699 closed

[2019-05-18 13:53] rezohs1234 opened #2707 "can setup an application"
hi i have a big problem when i click on firetools and configuration wizard when i chose an application the application don't start i try many applications many terminal nothing work now i what uninstall firetools and reinstall it for see i something happend can somebody tell me how ?

[2019-05-18 16:18] rusty-snake commented on #2707
@rezohs1234 more innformatons would be helpfull.

[2019-05-18 18:17] ilikenwf commented on #2689
Try it and check lsof to see if the firefox process is using the libhardened_malloc.so file...

@netblue30 to be more generic in my request, perhaps an option to allow LD_PRELOAD in the .profile files, if it's owned by root or lives in the /etc/firejail path, but not in the custom user ~/.config/firejail path? That would at least ensure that preloading is only allowed when root wants it to be.

[2019-05-18 21:08] rezohs1234 commented on #2707
nevermind that working i found a solution ok i have question when i install application with Chroot did that protect my system ? because when i do firejail --noprofile --chroot=/chroot/sid the answer is:Error: invalid --chroot=/chroot/sid command line option  i want know how to install an application and run it with firejail application_name without harming my system  i read all the docs search on

[2019-05-18 21:10] rezohs1234 opened #2709 "[help-me-plz] how to install an application and run it with firejail without harming my system"
i search online read the docs and cannot find how to install an appplication without harming my system  can *** somebody help me plz :)  with chroot is that ok or with OverlayFS ?

[2019-05-18 22:30] openffchrome commented on #2689
ho ok, it's working fine, thanks!

[2019-05-19 00:33] ColonelThirtyTwo commented on #2077
@chiraag-nataraj I'm having the same issue in Arch Linux with the discord package in AUR

[2019-05-19 02:29] intika commented on #1137
Same issue with skype... as its chromium based

[2019-05-19 03:11] intika commented on #1137
**Ohhh i found a quick easy solution !**

**dbus-lauch** baby :D

just prefix the binary with dbus-lauch...

[2019-05-19 04:46] rieje commented on #2698
Hmm, just tried and still the same problem/output, bizarre.

[2019-05-19 22:23] #1752 closed

[2019-05-19 22:23] chiraag-nataraj commented on #1752
Closing because the main fix has already been put in.

[2019-05-19 22:30] chiraag-nataraj commented on #2685
Yup, not _entirely_ sure what's going on with Firefox. The bug I linked to kind of just...died, which is unfortunate.

Yup, this happens before you're ever prompted for where to save the file to.

If we have a `$UID` variable that we can use in profiles, it might be worth it to whitelist `/tmp/user/$UID` by default...?

[2019-05-19 22:40] chiraag-nataraj commented on #2653
@julien-tmp Did you ever revisit this?

[2019-05-19 23:09] chiraag-nataraj commented on #2269
Going to close this as this should now be implemented.

[2019-05-19 23:09] #2269 closed

[2019-05-19 23:12] chiraag-nataraj commented on #2153
Is there a specific barrier to using the conditional support to allow conditional includes?

[2019-05-19 23:18] chiraag-nataraj commented on #2282
Is this still an issue? If so, can you check if you have `disable-mnt` enabled in `/etc/firejail/firejail.config`?

[2019-05-19 23:20] chiraag-nataraj commented on #408
Yes, it's odd that a configuration file is being stored in `$LIBDIR`...why was that chosen in the first place? Why not store it in `${CFG}` like `firejail.config`?

[2019-05-19 23:21] chiraag-nataraj commented on #2027
Is this still an issue for whoever commented and is still on Github?

[2019-05-19 23:23] chiraag-nataraj commented on #1230
Closing due to no response. @dimsua, please feel free to re-open if this is still an issue for you.

[2019-05-19 23:23] #1230 closed

[2019-05-19 23:57] chiraag-nataraj commented on #1117
Hey @netblue30, just wondering if we still intend to make this a per-profile switch?

[2019-05-19 23:59] chiraag-nataraj commented on #1896
Is this still an issue @drzraf?

[2019-05-20 11:13] rusty-snake commented on #2709
@rezohs1234 I'm not sure I understand you right, but here's what I think you mean:
To just install and run an application (as an example firefox on ubuntu):
[code]

If you want to run malware to analyze it, you should use an VM.

[2019-05-20 12:38] glitsj16 commented on #2698
@rieje What OS and firejail version are you seeing this on? The current ssh.profile contains `noblacklist /tmp/ssh-*`, so using a ControlPath like /tmp/ssh-syncthing-%u@%n.socket should work. Leaving aside the shell function for now, can you report output of the below commands:
- $ firejail --noprofile /usr/bin/ssh -fMNT -L 9999:localhost:8384 pi
- $ firejail /usr/bin/ssh -fMNT -L 9999:localhost:8

[2019-05-20 12:53] rezohs1234 commented on #2709
ok thanks but i found a solution create a vm and create another vm and sanbox the second virtual machine with firejail !

[2019-05-20 14:59] chiraag-nataraj commented on #2709
Closing as a solution has been found :)

[2019-05-20 14:59] #2709 closed

[2019-05-20 15:01] chiraag-nataraj commented on #2248
I'm going to go ahead and close this as the discussion seems to have died out ;)

[2019-05-20 15:01] #2248 closed

[2019-05-20 15:02] chiraag-nataraj commented on #2221
I'm going to close this, but @Veek, please feel free to re-open if you have more questions.

[2019-05-20 15:02] #2221 closed

[2019-05-20 15:05] chiraag-nataraj commented on #2274
@amarildojr Is the above a satisfactory workaround? If so, I'll close this. I can also convert this to an enhancement request to allow file-specific whitelisting if that's better.

[2019-05-20 15:06] chiraag-nataraj commented on #2264
@igor2x Is this still an issue?

[2019-05-20 15:08] chiraag-nataraj commented on #2228
Going to close this as the question seems to have been answered and several different options giving. @rieje, please feel free to re-open if you have more questions.

[2019-05-20 15:08] #2228 closed

[2019-05-20 15:09] matu3ba commented on #1139
[surf](https://surf.suckless.org/)

[2019-05-20 15:09] chiraag-nataraj commented on #116
Given the workaround @mhva suggested, do people still have this issue?

[2019-05-20 15:13] chiraag-nataraj commented on #446
If someone is interested in tightening the Wine profile, please submit a pull request! I'm going to go ahead and close this old thread since @curiosity-seeker stopped using wine ;P

[2019-05-20 15:13] #446 closed

[2019-05-20 15:14] chiraag-nataraj commented on #841
Is this still an issue?

[2019-05-20 15:16] chiraag-nataraj commented on #942
This should be in...closing.

[2019-05-20 15:16] #942 closed

[2019-05-20 15:18] chiraag-nataraj commented on #1000
I don't think this is in yet. @thewisenerd, please feel free to create a pull request (but base it off the current master, obviously haha) if you've already implemented this and we'll take a look there. Thanks!

[2019-05-20 15:20] chiraag-nataraj commented on #1590
Is this still an issue for @step- and/or @jplien?

[2019-05-20 15:22] chiraag-nataraj commented on #1385
@netblue30 Where do you want to put this info?

[2019-05-20 15:23] chiraag-nataraj commented on #1366
@netblue30 Have we made any progress on this?

[2019-05-20 15:24] chiraag-nataraj commented on #2692
@Neo00001 Can you do a `which atom`?

[2019-05-20 15:28] chiraag-nataraj commented on #2637
Going to close since it looks like the OP's question was answered.

[2019-05-20 15:28] #2637 closed

[2019-05-20 15:29] chiraag-nataraj commented on #2589
Going to close since it looks like the OP's question was answered. @KOLANICH, please feel free to re-open if you have more questions.

[2019-05-20 15:29] #2589 closed

[2019-05-20 15:29] chiraag-nataraj commented on #2551
I guess I'll close this for now. @7twin, please feel free to re-open if and when you test firejail again.

[2019-05-20 15:29] #2551 closed

[2019-05-20 15:31] chiraag-nataraj commented on #2605
Do they provide a URL to click? Or is it a "Click this button" kind of thing?

[2019-05-20 15:31] chiraag-nataraj commented on #2514
Any progress on this stuff?

[2019-05-20 15:36] curiosity-seeker commented on #1366
@chiraag-nataraj : Thanks for bringing this up again!

Adding to this the issue - mentioned by myself elsewhere - that the syscall groups are nowhere readily defined (I'm sure they are somewhere deep in the source code) so actually using them is rather difficult ...

[2019-05-20 15:38] chiraag-nataraj commented on #2644
I know I said my last message was my last one on this thread, but I guess I'll respond to this question.

As I said earlier, hooking into toolkits and stuff is **way** beyond the scope of Firejail. Firejail tries to be minimalistic, simple, and effective. What you are suggesting would greatly increase the code and complexity of firejail and make it a _lot_ more prone to security holes and so on.

[2019-05-20 15:38] #2644 closed

[2019-05-20 15:40] kevinoid commented on #841
Thanks for checking in.  I can confirm that this is still an issue for me on Debian with firejail built from the current master branch (feae44c4), nvidia 390.116-1, and Linux 5.1.2 (from kernel.org, without Debian patches). `firejail --noprofile glxgears` works fine, but `firejail --noprofile --noroot glxgears` shows a black window without the spinning gears.

[2019-05-20 15:40] chiraag-nataraj commented on #2196
Is this still an issue with the latest firejail and firefox?

[2019-05-20 15:40] chiraag-nataraj commented on #2188
I'm going to go ahead and close this, since the original issue was fixed a while ago.

[2019-05-20 15:40] #2188 closed

[2019-05-20 15:43] chiraag-nataraj commented on #841
Hmm, I see. Is this an issue if you use the Debian-supplied kernel instead of the custom build?

[2019-05-20 15:45] chiraag-nataraj commented on #1970
Is this still an issue?

[2019-05-20 15:54] kevinoid commented on #841
Yep.  I can confirm that the same symptoms occur with firejail built from feae44c, nvidia 390.116-1, and Linux 4.19.0-5-amd64 (from the linux-image-4.19.0-5-amd64 Debian package version 4.19.37-3).

[2019-05-20 15:59] chiraag-nataraj commented on #841
I'm wondering if it just has to do with something they changed on their end, since I'm on 418.74...

[2019-05-20 15:59] chiraag-nataraj commented on #841
But looking back, that doesn't seem to matter...I'm stumped.

[2019-05-20 16:00] chiraag-nataraj commented on #841
If you do `firejail --noroot --noprofile glxinfo`, what is the output?

[2019-05-20 16:00] chiraag-nataraj commented on #2150
We should fix this!

[2019-05-20 16:01] matu3ba commented on #2692
Same issue with (surf)[https://surf.suckless.org/] for default path.
A hint to fix the binary location (and the options where to place it exactly) would be useful.

[2019-05-20 16:06] kevinoid commented on #841
I added the output of `firejail --noroot --noprofile glxinfo` to the gist with the strace outputs:  https://gist.github.com/kevinoid/cb1c4ed6c8f073d41b1c4e1039e04e99#file-glxinfo-noroot-txt

[2019-05-20 16:08] chiraag-nataraj commented on #841
Hold on. Your `glxinfo` output is showing that `glxinfo` has no problem accessing your Nvidia card. Something's really screwy here, since you're reporting that `glxgears` has the problem, but your output shows that `glxinfo` does not.

[2019-05-20 16:11] kevinoid commented on #841
That is correct.  On my system `glxinfo` appears to work fine with `--noroot`.  `glxgears` does not work with `--noroot`.

[2019-05-20 16:17] topimiettinen commented on #2514
I don't know if kernel has fd passing yet.

i386 and most other archs got unmultiplexed versions of system calls in end 2018, so there's no need to demultiplex anymore with recent kernels.

[2019-05-20 16:59] Vincent43 commented on #1366
I recently proposed this [elsewhere](https://github.com/netblue30/firejail/issues/2669#issuecomment-489606847):

[2019-05-20 17:23] Vincent43 commented on #1117
What is the usecase for profile switch? You could join only through firejail but if you have access to firejail then you may pass `firejail --ignore nojoin <profile>` bypassing the restriction.

[2019-05-20 17:27] Vincent43 commented on #2153
What about `ignore include xxx.inc`?

[2019-05-20 17:33] julien-tmp commented on #2653
Not yet unfortunately. Pretty busy lately. I will try to do it in this month. Do you face the same issue @chiraag-nataraj  ?

[2019-05-20 17:39] chiraag-nataraj commented on #1366
Cool, let's move discussion of this over to #2669.

[2019-05-20 17:41] chiraag-nataraj commented on #1117
Hmm, that's true @Vincent43...

[2019-05-20 17:42] chiraag-nataraj commented on #2653
Nope, the apparmor integration is working fine on my end.

[2019-05-20 17:45] chiraag-nataraj commented on #2153
It doesn't work.
[code]
where `~/.config/firejail/x-terminal-emulator` is:
[code]

[2019-05-20 17:47] chiraag-nataraj commented on #966
Closing due to no response. @weeshy, please feel free to re-open if you have updated information.

[2019-05-20 17:47] #966 closed

[2019-05-20 17:48] chiraag-nataraj commented on #1630
Is this still an issue @laurento?

[2019-05-20 17:50] chiraag-nataraj commented on #1392
Going to close since the OP is no longer on Github.

[2019-05-20 17:50] #1392 closed

[2019-05-20 17:51] chiraag-nataraj commented on #1606
Is this still an issue?

[2019-05-20 17:55] chiraag-nataraj commented on #1471
Based on @rradar's comment, I presume this still an issue with `pkexec` and we should figure out what to do about it.

[2019-05-20 17:56] chiraag-nataraj commented on #1625
Is this still an issue?

[2019-05-20 18:10] Vincent43 commented on #2153
I meant maeking `ignore include xxx.inc` work instead of introducing `noinclude`.

[2019-05-20 18:14] Vincent43 commented on #2653
For some reason AppArmor isn't working on your system, this isn't firejail related.

[2019-05-20 18:19] Vincent43 commented on #1366
@chiraag-nataraj actually I think this issue is better focused on seccomp tweaks. The other one could be fixed if we find solution here.

[2019-05-20 18:27] Vincent43 commented on #2685
`/tmp/user/$UID` shouldn't exist when `private-tmp` is used. From where does it come from?

[2019-05-20 18:40] Vincent43 commented on #2689
We don't differentiate between root owned and user owned profiles because it wouldn't make sense when user can pass any profile option manually `firejail --foo --profile=xxx`. We could make a on/off switch in `firejail.config` but isn't passing LD_PRELOAD as env variable easier and more user friendly?

[2019-05-20 19:19] chiraag-nataraj commented on #1366
Okay! Let's keep this open then.

[2019-05-20 19:20] chiraag-nataraj commented on #2685
It's created within the sandbox because of `libpam-tmpdir`.

[2019-05-20 19:55] glitsj16 commented on #2689
Maybe add a new `disable-hardened_malloc.inc` (or any other suitable name) containing `blacklist /usr/lib/libhardened_malloc*`, so this can be integrated nicely like all other stuff via:
[code]

[2019-05-20 19:59] Vincent43 commented on #2685
Isn't `libpam-tmpdir` creating it only during login? How it can create it in `firejail --private-tmp` sandbox where `/tmp` is mount as new tmpfs filesystem?

[2019-05-20 20:01] Vincent43 commented on #2689
But hardened-malloc is supposed to increase security, what's the point of blackisting it?

[2019-05-20 20:09] glitsj16 commented on #2689
@Vincent43 Using `env LD_PRELOAD=/usr/lib/libhardened_malloc.so` on a system where hardened_malloc isn't available would break firejail profiles. That's why I suggested the above format, so users can enable it not only via the CLI but also inside profile files.

[2019-05-20 20:19] TheDarkTrumpet commented on #1139
Added pull request https://github.com/netblue30/firejail/pull/2710

[2019-05-20 20:41] chiraag-nataraj commented on #2685
You're right. Maybe it's because the temporary directory variables are exported, so firefox automatically creates the necessary parent directory?

[2019-05-20 20:58] chiraag-nataraj commented on #2411
So we have a nano profile now and the original question has been aswered with several workarounds. I'm going to go ahead and close this, but @Utini2000, feel free to reopen if you have more questions.

[2019-05-20 20:58] #2411 closed

[2019-05-20 21:02] chiraag-nataraj commented on #2407
I use `hidepid` with DBus stuff just fine, but I added a `proc` group and added `polkitd` and `systemd-logind` to it. Then again, I pretty much don't _really_ use DBus, so...:man_shrugging:

Anyway, the original question seems to have been answered, so I'm going to go ahead and close this. @anteg, please feel free to re-open if you have more questions.

[2019-05-20 21:02] #2407 closed

[2019-05-20 21:03] chiraag-nataraj commented on #2270
@silgon, is this still an issue? Were you able to upgrade your firejail to take advantage of the feature?

[2019-05-20 21:05] chiraag-nataraj commented on #2220
Going to go ahead and close the issue, since the original question seems to have been answered. @Veek, please feel free to re-open if you have more questions.

[2019-05-20 21:05] #2220 closed

[2019-05-20 21:08] chiraag-nataraj commented on #2212
It's most likely the seccomp filter, but I don't know. Is this still an issue?

[2019-05-20 21:09] chiraag-nataraj commented on #2211
Is this still an issue? I believe we fixed this a while back...

[2019-05-20 21:15] silgon commented on #2270
Sorry, I'm not using it anymore, so I couldn't tell. I'll close the issue for now. Thanks for the update. =)

[2019-05-20 21:15] #2270 closed

[2019-05-20 21:55] dandelionred opened #2711 "What is the correct way to pass /tmp/.X11-unix into a chroot?"
I debootstrapped ubuntu 19.04 into /nas/chroot/disco and installed smplayer inside.

Running this
[code]
I get this
[code]

As a dirty fix I set up such bind
[code]
and chrooted smplayer can start now.

<br>

Is there some **native to firejail** way to pass /tmp/.X11-unix into a chroot?

<br>

Btw I run xorg with `-nolisten local` so there is no abstract socket. Hence /tmp/.X11-unix is the only wa

[2019-05-20 22:11] smitsohu commented on #2711
Setting an environment variable `FIREJAIL_X11` should work.

[2019-05-20 22:20] dandelionred commented on #2711
I'm not sure how to use it
[code]

[2019-05-20 22:24] smitsohu commented on #2711
You need to create an empty `/tmp/.X11-unix` directory as mount point first.

[2019-05-20 22:31] dandelionred commented on #2711
Thanks, it works now.

Mby the FIREJAIL_X11 tip should be added to https://firejail.wordpress.com/documentation-2/x11-guide/ ?

[2019-05-20 22:34] chiraag-nataraj commented on #2041
@smitsohu Did you ever get a chance to work on this?

[2019-05-20 22:50] smitsohu commented on #2711
To be honest, `FIREJAIL_X11` is quite a dirty solution itself.

In the moment Firejail doesn't help too much in setting up the chroot, but this also means it will not get in your way too much. I think what you described in the original post is "the correct way" actually.

[2019-05-20 22:54] dandelionred commented on #2711
KK, got it.

[2019-05-20 22:54] #2711 closed

[2019-05-20 23:05] chiraag-nataraj commented on #2693
Pretty sure they only provide a Debian installer...building from source should totally work on non-Debian distros. You certainly shouldn't need a chroot to install it!

[2019-05-20 23:32] chiraag-nataraj commented on #2135
Either way, I think the question has been answered sufficiently thoroughly. I'll go ahead and close, but @asdfghjz, please feel free to re-open if you have additional questions!

[2019-05-20 23:32] #2135 closed

[2019-05-20 23:36] smitsohu commented on #2041
@chiraag-nataraj yes and no :)

I regarded it more as a mid-term goal.... for example the fs_tmpfs() function was written with whitelisting in mind, and I think supporting arbitrary home directories everywhere in Firejail would be another significant step into this direction.

But I see that progress is very slow currently, which is mainly due to time constraints. If someone wants to take this ove

[2019-05-21 00:01] smitsohu commented on #2711
A last note:

Don't set `FIREJAIL_X11` to `yes`, any other value will work just fine.

[2019-05-21 00:06] chiraag-nataraj commented on #2288
Closing due to no activity. @SemiIngSoft, please feel free to re-open if you have more info.

[2019-05-21 00:06] #2288 closed

[2019-05-21 00:07] chiraag-nataraj commented on #2284
Let's go ahead and close this as wontfix for now (although apparently WSL 2 will actually run a Linux kernel? That may very well change the situation).

[2019-05-21 00:07] #2284 closed

[2019-05-21 00:09] chiraag-nataraj commented on #2205
@iskunk Is this still an issue?

[2019-05-21 00:10] chiraag-nataraj commented on #2155
Are we interested in moving forward with this or should we close this?

[2019-05-21 00:11] chiraag-nataraj commented on #2176
@publicsite Is this still an issue?

[2019-05-21 00:23] chiraag-nataraj commented on #1127
Thanks for the bump, I'll take a look.

[2019-05-21 00:31] chiraag-nataraj commented on #1127
Hmm, if I do `firejail --noprofile` without any whitelist directives, I get my regular bash prompt. This is with current git master.

[2019-05-21 00:46] chiraag-nataraj opened #2713 "Switch from Wordpress site to Github Pages"
I've seen several requests on here (at the end of issues, for example) to update things on the website. It might be easier to manage if we move from the current Wordpress site to a Github page, since other people can also help maintain it.

Just a thought.

[2019-05-21 01:18] chiraag-nataraj commented on #2653
Yeah, looking over your earlier errors, this definitely looks like a non-firejail issue. @julien-tmp, the error [looks like](https://www.linuxquestions.org/questions/linux-security-4/why-is-apparmor-throwing-that-error-4175434956/) something that gets thrown when your kernel doesn't support apparmor. You'll have to look into possibly upgrading your kernel and/or figuring out why apparmor support s

[2019-05-21 01:18] #2653 closed

[2019-05-21 01:20] chiraag-nataraj commented on #1938
@netblue30, is this fixable? If not, I'll go ahead and close, since I've found a workaround which works.

[2019-05-21 01:21] chiraag-nataraj commented on #1926
@netblue30, is this something we want to work on within firejail or is this outside the scope of the project?

[2019-05-21 01:26] chiraag-nataraj commented on #1651
Is this still an issue?

[2019-05-21 01:33] chiraag-nataraj commented on #1388
LUKS shouldn't affect this. Is this still an issue?

[2019-05-21 01:38] kevinclevenger commented on #1786
Using a NanoPC T4 with current Armbian 4.4.178-rk3399. The kernel has all the above options and still get:
Error clone: main.c:2517 main: Invalid argument

[2019-05-21 02:04] chiraag-nataraj commented on #1651
I still maintain that the easiest is to install it without sandboxing and to sandbox it after setup (this also solves the thorny issue of authenticating with the browser...). I followed the following steps and everything works pretty well:

1. Run `cd ~ && wget -O - "https://www.dropbox.com/download?plat=lnx.x86_64" | tar xzf -` (as recommended by the Dropbox website for headless install). This cr

[2019-05-21 02:13] chiraag-nataraj commented on #903
Sorry to dredge up so many old issues, but @netblue30, is this intended behavior? If so, we can close. Otherwise, we should fix this.

[2019-05-21 02:15] chiraag-nataraj commented on #1282
Closing for inactivity. Please feel free to re-open if this is still an issue.

[2019-05-21 02:15] #1282 closed

[2019-05-21 02:16] chiraag-nataraj commented on #2657
Is this still an issue @Mothsdroyp?

[2019-05-21 02:34] chiraag-nataraj commented on #2661
So how do we do this such that it doesn't affect other distros which haven't (yet?) done this?

[2019-05-21 02:40] #2657 closed

[2019-05-21 02:41] chiraag-nataraj commented on #2657
Should we modify the shipped dropbox profile to not blacklist python2 or whatever?

[2019-05-21 02:42] chiraag-nataraj commented on #2671
It seems like this problem has been resolved. @flux242, I'll go ahead and close this now, but please feel free to re-open if you have more questions or if this isn't fully resolved.

[2019-05-21 02:42] #2671 closed

[2019-05-21 03:18] chiraag-nataraj commented on #2629
Seems like the question was answered, so lemme close this. @FOSSONLY, please feel free to re-open if you have further questions.

[2019-05-21 03:18] #2629 closed

[2019-05-21 03:22] chiraag-nataraj opened #2717 "Github wiki for FAQs/tips?"
@netblue30, I thought we might want to create a wiki on here just as a way to list out commonly asked questions and answers so that we don't keep seeing the same questions/"bugs" again and again.

If you agree, could you please create the wiki? I can definitely start populating it with various questions/answers and stuff, but I don't have enough permissions to create the wiki (I think).

[2019-05-21 03:46] chiraag-nataraj commented on #2717
(I've started creating an example wiki over at chiraag-nataraj/firejail.

[2019-05-21 03:56] chiraag-nataraj commented on #1290
Is this true if you manually start `xpra` and a random program (say, `firefox` or a terminal emulator) and do the VT switches? That is, if you run stuff without `firejail`, do you still run into this bug?

[2019-05-21 05:42] dandelionred commented on #2711
@smitsohu What is wrong with FIREJAIL_X11=yes?

[2019-05-21 06:26] Radtoo commented on #2188
Sure, thanks for the notice!

[2019-05-21 07:54] laurento commented on #1630
Well, last time I've tried (few months ago) the issue was still there. However, I'm now using dropbox via flatpak so I solved using a different kind of confinement :)

[2019-05-21 08:23] chiraag-nataraj commented on #1630
I guess I'll close this for now then - we can always re-open if it's an issue and they wan to stick with firejail :D

[2019-05-21 08:33] chiraag-nataraj commented on #2472
@Zypherspace, is this still an issue for you?

[2019-05-21 08:34] chiraag-nataraj commented on #2471
Seems like this was answered, so I'm going to go ahead and close this, but @Raj2032, please feel free to re-open if you have more questions.

[2019-05-21 08:34] #2471 closed

[2019-05-21 08:36] apmorton opened #2718 "seccomp bypass when joining existing jail"
seccomp filters are copied into `/run/firejail/mnt`, and are writable within the jail.

A malicious process can modify files from inside the jail.
Processes that are later joined to the jail will not have seccomp filters applied.

## repro steps

compile program to call blacklisted syscall
[code]

create interactive jail session
[code]

try to run program inside jail, noting syscall is blocked
[co

[2019-05-21 08:43] chiraag-nataraj commented on #2447
@Ryujinra, did you ever get this figured out? My `mpv` apparently doesn't support nvdec, so I'm not able to test this :/

[2019-05-21 08:54] chiraag-nataraj commented on #2718
This fails for me with "bash: /run/firejail/mnt/seccomp/seccomp.list: Read-only file system". Let me play around a bit, since idk if it's only a "my system" thing.

[2019-05-21 08:57] chiraag-nataraj commented on #2718
Side note: I'm also launched into a private shell, so I don't even have access to the executable. So I literally wasn't able to even try to replicate what's going on here.

[2019-05-21 09:01] chiraag-nataraj commented on #2718
Okay, so I can replicate with current release, but not with current git master. Is that the same for you @apmorton?

[2019-05-21 09:06] chiraag-nataraj commented on #2593
Going to close as the problem was apparently resolved and/or is probably not a firejail bug. @probonopd, please feel free to re-open if you have more questions.

[2019-05-21 09:06] #2593 closed

[2019-05-21 09:07] chiraag-nataraj commented on #2513
@vorticalbox, were you able to check this?

[2019-05-21 09:10] chiraag-nataraj commented on #2480
@odiferousmint, is this still an issue for you? Have you found a workaround?

[2019-05-21 09:13] apmorton commented on #2718
confirmed, this is fixed on latest master.

seccomp files are put in `/run/firejail/mnt/seccomp` and is mounted as a read-only filesystem, which mitigates the issue.

[2019-05-21 09:15] chiraag-nataraj commented on #2718
In the future, if you think you have found a security vulnerability (which this certainly would qualify as), you should probably follow the directions in the readme (i.e. email netblue30).

[2019-05-21 09:16] chiraag-nataraj commented on #2718
@netblue30, this is fixed in git master, but apparently is an issue in the current release. How should we proceed?

[2019-05-21 09:17] apmorton commented on #2718
neither readme (`README` or `README.md`) have security disclosure procedures

[2019-05-21 09:19] chiraag-nataraj commented on #2718
I'll add it to the README as well, since people might not think to look at CONTRIBUTING.

[2019-05-21 09:26] chiraag-nataraj commented on #2336
@Tanath Did any of the suggestions work?

[2019-05-21 09:28] chiraag-nataraj commented on #2324
@mkkot Is your issue resolved?

[2019-05-21 09:30] chiraag-nataraj commented on #2320
Seems like the question was answered, even if we're not entirely sure if our testing regime is good enough :stuck_out_tongue_winking_eye:

[2019-05-21 09:30] #2320 closed

[2019-05-21 09:33] chiraag-nataraj commented on #2329
Seems like the OP found a solution to their issue (although perhaps not entirely ideal). I'll go ahead and close this, but @daphniz, please feel free to re-open if you have more questions or you want to convert this to an enhancement request.

[2019-05-21 09:33] #2329 closed

[2019-05-21 09:35] chiraag-nataraj commented on #2364
Do you get the same issue if you try using `sudo -u anon -i` instead?

[2019-05-21 09:36] chiraag-nataraj commented on #2335
Going to close since OP left Github and their question seems to have been answered.

[2019-05-21 09:36] #2335 closed

[2019-05-21 09:47] chiraag-nataraj commented on #2112
I'll go ahead and close this, since the OP's question was answered. @derba, please feel free to re-open if you have more questions.

[2019-05-21 09:47] #2112 closed

[2019-05-21 10:03] smitsohu commented on #2711
@dandelionred FIREJAIL_X11=yes is used internally to indicate that an `--x*` option has been parsed; setting it to a value other than yes navigates around possible issues.

Did I already mention it is dirty? :smile:

[2019-05-21 11:12] chiraag-nataraj commented on #907
Hmm, this is still an issue.

[2019-05-21 11:22] chiraag-nataraj commented on #1912
Still seeing this with current git master. How should we go about addressing this?

[2019-05-21 12:10] seonwoolee commented on #2282
Yes, `disable-mnt` is enabled in `/etc/firejail/firejail.config`. But despite having `ignore disable-mnt` in `vlc.profile`, I still can't access `/mnt/NAS` when I open VLC with firejail.

If I disable `disable-mnt` in `/etc/firejail/firejail.config` then it works, but as I understand it `ignore disable-mnt` in `vlc.profile` should be taking care of that.

[2019-05-21 12:16] rusty-snake commented on #2282
@seonwoolee nope, if you set this in firejail.config you can not ignore it by `ignore`, you need to revert this in `firejail.config` and add `disable-mnt` to your `globals.local`, because then you can do `ignore disable-mnt` in your `vlc.local`.

[code]
I think we should add that `--ignore` also didn't work.

[2019-05-21 12:29] seonwoolee commented on #2282
Gotcha. Thanks.

[2019-05-21 12:29] #2282 closed

[2019-05-21 12:59] rusty-snake commented on #2282
done via 903adee.

[2019-05-21 13:06] chiraag-nataraj commented on #2655
Going to close this as there seems to be a workaround that works. @alexandre1985, please feel to re-open if you have more questions.

[2019-05-21 13:06] #2655 closed

[2019-05-21 13:09] chiraag-nataraj commented on #2623
Going to close due to inactivity. @viq, if this is still an issue, please feel free to re-open.

[2019-05-21 13:09] #2623 closed

[2019-05-21 13:13] smitsohu commented on #2713
There is also #2090

[2019-05-21 13:22] Vincent43 commented on #2685
That's possible but why `/tmp/user/$UID` would be read-only then?

[2019-05-21 13:47] chiraag-nataraj commented on #2685
I'm not really sure, to be honest. But I know I've run into this when I whitelisted a subdirectory of `/tmp/user/$UID`, which _does_ make sense.

Yeah, I'm not really sure what exactly is going on here, just that I've run into this in the past in other contexts. Somehow, I'm totally okay running with `private-tmp` (and I see the weird `Temp-<blah>` stuff in the sandbox), so I'm not quite sure what

[2019-05-21 13:49] chiraag-nataraj commented on #2713
Yup. But I presume moving our official documentation is slightly different from the website (which provides common usage, etc), so while it's related, I'd regard it as a separate goal.

[2019-05-21 13:52] chiraag-nataraj commented on #1899
Is this still an issue @HotelBellaMuerte?

[2019-05-21 13:52] chiraag-nataraj commented on #1896
I'm going to go ahead and close for inactivity. @drzraf, please feel free to re-open if you still have this issue and can help us debug further.

[2019-05-21 13:52] #1896 closed

[2019-05-21 13:57] chiraag-nataraj commented on #1912
As I replied earlier, when I create new network namespaces, I'm not seeing the issue. Is this issue specific to ping or does it apply to other programs as well?

[2019-05-21 13:58] chiraag-nataraj commented on #1908
@oxwivi, has this been resolved?

[2019-05-21 13:59] chiraag-nataraj commented on #1836
Is this still an issue @Tvax?

[2019-05-21 14:02] chiraag-nataraj commented on #2692
How are you installing `surf` though? At least in the default Debian package, it doesn't come with a `.desktop` file...

[2019-05-21 14:09] chiraag-nataraj commented on #2692
Also, @Neo00001, you should file a bug at https://github.com/atom/atom/issues to tell them to stop using the absolute path in the desktop file.

[2019-05-21 14:13] chiraag-nataraj commented on #1127
Here's what I get when I do the following:
[code]
So it seems like `.bashrc` is being treated differently. They should all be symlinked to relevant files in `~/.config/bash`, and while the other ones are, `.bashrc` is not. Time to hunt for where this happens!

[2019-05-21 14:37] chiraag-nataraj commented on #1127
Gah, I don't get this. I went to https://github.com/netblue30/firejail/blob/903adeed610219cd19964f93402efc9a08ed032e/src/firejail/fs_home.c#L97 and added a print statement. When that didn't show, I added an else statement that should have just printed the result of stat. Neither shows anything, even when I run with `--debug`. @netblue30, where is this happening? When I run a `grep`, the only place

[2019-05-21 14:48] chiraag-nataraj commented on #1088
Going to close for inactivity. @xplodwild, please feel free to re-open if this is still an issue.

[2019-05-21 14:48] #1088 closed

[2019-05-21 14:49] chiraag-nataraj commented on #841
That's so odd...I would presume they'd both attempt to access the Nvidia driver the same way...

[2019-05-21 16:58] chiraag-nataraj commented on #1970
I'm going to go ahead and close this due to inactivity, but @WarDogSniper, please feel free to re-open if you have more/updated info.

[2019-05-21 16:58] #1970 closed

[2019-05-21 16:59] chiraag-nataraj commented on #1950
Is this still an issue?

[2019-05-21 17:00] chiraag-nataraj commented on #969
This is because of #1127. Moving discussion over there.

[2019-05-21 17:00] #969 closed

[2019-05-21 17:01] igor2x commented on #2264
@chiraag-nataraj, I currently use  firejail 0.9.58.2 and there is the same problem.

I currently use /etc/firejail/pinta.local with settings:
ignore net none
ignore nodbus

Currently the best I can think of...

P.S. This is not such a crucial problem for me, if you like to close down the bug report it is fine with me. Pinta is currently more or less death project. The last official stable version

[2019-05-21 17:03] chiraag-nataraj commented on #2264
@igor2x I'll probably close this then, since you've found a workaround that works on your end. And wow, yeah...it hasn't been updated in a _long_ time...surprised the version in Debian sid is even still installable...

[2019-05-21 17:03] #2264 closed

[2019-05-21 17:06] chiraag-nataraj commented on #1839
You should be able to use the audit log to figure out which syscall it's trying to call which is killing it (e.g. `sudo ausearch --raw` after it's killed).

[2019-05-21 18:28] mkkot commented on #2324
I will answer to that when I get home next week. Can't check now.

wt., 21 maj 2019 o 11:28 ಚಿರಾಗ್ ನಟರಾಜ್ <notifications@github.com>
napisał(a):

--
Pozdrawiam / Greetings
Marcin Kocur █
Brak odpowiedzi? / No answer?
http://koci.net.pl/email/

[2019-05-21 19:24] vorticalbox commented on #2513
I'm afraid not I haven't done any security testing at work that has required me to spin up my VM.

If I have time tomorrow I'll give it a go.

[2019-05-21 22:45] chiraag-nataraj commented on #2211
@Tritonio I'll close this for now, but please feel free to re-open if you still have this issue.

[2019-05-21 22:45] #2211 closed

[2019-05-21 22:50] #2095 closed

[2019-05-21 23:06] publicsite commented on #2176
chiraag-nataraj

I'm not sure, ended up with different solution, and that's what I'm using at present ... though could try giving it another test to see if anything has differed since. Built myself a nice chroot when issue came up last October, so something might have changed 6 months on ...

[2019-05-21 23:10] chiraag-nataraj commented on #2176
Okay! If that's the case, I guess I'll go ahead and close this issue for now. If you decide to revisit and run into this, please feel free to re-open!

[2019-05-21 23:10] #2176 closed

[2019-05-21 23:11] chiraag-nataraj commented on #116
I'm going to go ahead and close this for now. If anyone affected is still running into this, please feel free to re-open!

[2019-05-21 23:11] #116 closed

[2019-05-21 23:12] chiraag-nataraj commented on #215
I'm going to close this for inactivity. @the8472, please feel free to re-open if you have more questions or if this is still an issue.

[2019-05-21 23:12] #215 closed

[2019-05-21 23:13] chiraag-nataraj commented on #561
@probonopd, is this still an issue?

[2019-05-21 23:16] chiraag-nataraj commented on #725
I don't really think we have a proper solution for this besides working around things on an app-specific level. I'll close this for now since it feels like we should be targeting known offenders, as it were, in separate issues (if people are running into them). Feel free to re-open if you feel that we _should_ attempt to solve this more generally.

[2019-05-21 23:16] #725 closed

[2019-05-21 23:18] chiraag-nataraj commented on #726
This is still an issue. `--whitelist=.config`, for example, will error out saying that `.config` is an invalid path.

[2019-05-21 23:28] chrsmrtnx commented on #2685
Interestingly, if I run `firejail --profile=/etc/firejail/firefox.profile bash`, then I find that the directory `/tmp/user/1000` already exists; it contains a single file, namely, `xauth-1000-_0`.

`ls -al /tmp/user/` yields `drwxr-xr-x 2 root root` etc.; `touch /tmp/user/1000/test` then of course fails.

[2019-05-22 01:51] tofurky commented on #1950
yes, and will continue to be until `copy_link()` includes all intermediate symlinks.

[2019-05-22 02:02] chiraag-nataraj commented on #1950
The thing is that this doesn't seem to affect Firefox's ability to get the system time right (or any other program's, for that matter)...that's why this is so odd.

[2019-05-22 02:10] tofurky commented on #1950
it might have to do with chrome's extra sandboxing, not sure.

[2019-05-22 02:27] chiraag-nataraj commented on #1950
Does this profile work for you? I don't get the error you're getting.
`~/.config/firejail/chromium.profile`
[code]
`~/.config/firejail/common.inc`
[code]
I don't have `google-chrome` installed, but I can try that to see if `chromium` versus `google-chrome` makes a difference.

[2019-05-22 02:30] tofurky commented on #1950
you can see what timezone the browser is using @ https://browserspy.dk/date.php

[2019-05-22 02:33] chiraag-nataraj commented on #1950
So it thinks I'm in GMT. I guess I never noticed this because I enabled fingerprinting resistance in Firefox, which _also_ spoofs the timezone to GMT :stuck_out_tongue_winking_eye:

[2019-05-22 04:56] ContactLeft commented on #2214
Has this been fixed?

Neither one of these workarounds work for me.

[2019-05-22 08:55] chiraag-nataraj commented on #1619
Is this still an issue? I presume it is...

[2019-05-22 08:59] tinmanx opened #2720 "After Firefox update to v67.Build2, KeepassXC suddenly cannot open URL links. Profile not accessible"
After a Firefox update, i dont understand why but when trying to double click to open URL's in KeepassXC it errors out saying profile not accessible. Can you tell me why this happened all of a sudden? Nothing has changed in the profile, been using it as usual.

firejail version 0.9.58.2
Ubuntu 18.04 with xfce4

[2019-05-22 09:04] chiraag-nataraj commented on #2720
Things to try:

* Does anything get printed on the terminal if you run `firejail keepassxc`?
* Does `firejail --noprofile keepassxc` help?
* Does keeping `firefox` (firejailed) open _before_ starting `keepassxc` (firejailed) help?

[2019-05-22 10:25] tinmanx commented on #2720
@chiraag-nataraj
- Yes, see below:
[code]

- It works with:  `firejail --noprofile --appimage KeePassXC-2.4.1-x86_64.AppImage`

- Firefox is not firejailed, but it is started before Keepassxc as usual.

[2019-05-22 10:26] tinmanx commented on #2720
The only difference between the output on the terminal now and before the Firefox update, is this error:
`Error: Access was denied while trying to open files in your profile directory.`

Everything else is normal

[2019-05-22 10:47] testbird commented on #1117
https://github.com/netblue30/firejail/issues/1117#issuecomment-289446469

Not sure right now anymore.
For user root to globally disallow --join, while allowing some users to use e.g. an email app, but not use the network access of that profile with another binary?

[2019-05-22 10:56] chiraag-nataraj commented on #2720
When keepassxc is running, can you do a `firejail --ls=<pid of keepassxc sandbox> ~/`? Does `.mozilla` appear there?

Also, looks like you compiled from Git, since it's reading stuff in `/usr/local/etc/firejail`?

[2019-05-22 10:59] chiraag-nataraj commented on #2720
Also, is this the default profile? Have you modified it?

[2019-05-22 11:02] chiraag-nataraj commented on #2658
Great! Glad to hear it resolved itself on your end :)

[2019-05-22 11:02] #2658 closed

[2019-05-22 11:21] step- commented on #1590
@chiraag-nataraj, yes, it is still an issue, and now there's an error message even if I add `ignore private-tmp` to /etc/firejail/globals.local.

I compiled the latest commit 43cbc6d.

[code]

[2019-05-22 11:32] chiraag-nataraj commented on #2717
Yup, I'm planning on trawling through the issues at some point when I get some time to figure out topics to populate for the wiki, but I'd also like to make sure it's not in vain ;)

[2019-05-22 11:34] chiraag-nataraj commented on #1590
Can I see the output of `findmnt`?

[2019-05-22 11:34] Vincent43 commented on #1117
@testbird As I wrote per-profile switch is ineffective if you want to prevent user from joining to any app of their choice. Only disabling it globally makes sense.

[2019-05-22 11:43] Vincent43 commented on #1950
@tofurky why `/usr/share/zoneinfo/America/New_York`  is a symlink to `posixrules` on your system?

[2019-05-22 11:45] chiraag-nataraj commented on #1950
It is on mine as well @Vincent43.

[2019-05-22 11:50] Vincent43 commented on #1950
Interesting. On Arch Linux I don't have such symlink.

[2019-05-22 11:53] chiraag-nataraj commented on #1950
Hmm, I see.

[2019-05-22 11:57] tinmanx commented on #2720
@chiraag-nataraj yes `.mozilla` does appear in the list !  This is very weird..

And yes i compiled from Git. Like i said, this has been working fine for many months and suddenly this happened after Firefox update. Firefox updated from: `firefox (67.0+build1-0ubuntu0.18.04.1) bionic` to `firefox (67.0+build2-0ubuntu0.18.04.1) bionic`
yes this is the default keepassxc.profile and no i didnt modify

[2019-05-22 11:59] smitsohu commented on #1590
@jplien @step- Whitelisting in symlinked top level directories (like /tmp in your case) is not allowed currently. #2041 should address this in the future, but we are not there yet.

@step-

This makes me think there is a symbolic link somewhere.

That's because of `--noprofile`

@chiraag-nataraj  Confusingly the mounting on `/run/firejail/mnt/orig-tmp` apparently first succeeds here
https://github

[2019-05-22 12:02] chiraag-nataraj commented on #2720
What if you pass `--ignore=private-bin`, so `firejail --ignore=private-bin --appimage KeePassXC-<whatever>`?

[2019-05-22 12:09] Vincent43 commented on #2685
`firejail --profile=/etc/firejail/firefox.profile bash` doesn't create `/tmp/user/$UID` on ubuntu with `libpam-tmpdir` in my testing. You have to find what creates it on your system.

[2019-05-22 12:11] rusty-snake commented on #2513
https://github.com/netblue30/firejail/issues/2698#issuecomment-493028100

[2019-05-22 12:32] smitsohu commented on #1950
So it seems Chrome reads the filename rather than the text file at the end of the symlink chain to extract the timezone.

[2019-05-22 12:32] tinmanx commented on #2720
no that doesnt work either.
I figured out what the problem is... however i do not have a solution for this.

Please ignore the version numbers of firefox that i mentioned, this is what really happened after digging further.

When everything was working, i was on Firefox v66.0.5 (i reverted to this now and the URL openings work as expected)
According to http://security.ubuntu.com/ubuntu/pool/main/f

[2019-05-22 12:46] chiraag-nataraj commented on #2720
Can you try with the non-appimage version? I want to see if it's an appimage-specific problem or if it's an issue with the profile more generally.

Also, I'm currently on firefox 66.0.5 (I'm on Debian `sid`...).

[2019-05-22 12:50] chiraag-nataraj commented on #2685
It doesn't on my system either, with the profile I use (custom hardened profile). I suspect `firefox` is the one creating the directory.

[2019-05-22 12:56] chiraag-nataraj commented on #2718
@apmorton, if you're comfortable, can you bisect the commits to figure out which one solved this? We should probably back-port just that fix...

[2019-05-22 12:58] chiraag-nataraj commented on #2668
@t4777sd, can you please respond with more information? The error output seems to be completely missing.

[2019-05-22 13:03] tinmanx commented on #2720
There is only appimages for keepassxc and building it from source which i am not able to do.  The rest is windows and mac binaries.
Can you try with building from source on your side?   It seems to me that the execution for opening firefox links has somehow changed

[2019-05-22 13:05] chiraag-nataraj commented on #2720
No? https://packages.ubuntu.com/bionic/keepassxc It's in the bionic repos.

[2019-05-22 13:10] tinmanx commented on #2720
apologies, will check now.

[2019-05-22 14:10] tinmanx commented on #2720
When testing on a new PC, im getting a different error now when opening URL:
`Unable to detect a web browser to launch 'www.google.com'`

I tried on firefox v66.04 and firefox v67.0

[2019-05-22 14:14] chiraag-nataraj commented on #2720
Can you try with `--ignore=private-bin`? I suspect it's looking for browsers, but none are whitelisted in the default profile.

[2019-05-22 14:17] smitsohu commented on #2718
It is commit eecf35c2f8249489a1d3e512bb07f0d427183134

[2019-05-22 14:19] chiraag-nataraj commented on #2718
Thanks @smitsohu! Should we back-port to LTS and current release?

[2019-05-22 14:20] tinmanx commented on #2720
Ok i tried with:
`$ firejail --ignore=private-bin keepassxc`
and it tries to open, with the same error popup as it does on the appimage.

[code]

[2019-05-22 14:23] chiraag-nataraj commented on #2720
Hmm...I wonder if `exo-helper` or `exo-open` is throwing the error rather than `firefox`...

[2019-05-22 14:23] chiraag-nataraj commented on #2720
Or do you get the firefox popup saying "Your profile is missing" or something similar?

[2019-05-22 14:26] tinmanx commented on #2720
The popup i get is this:
![2019-05-22](https://user-images.githubusercontent.com/46136520/58182667-54c71e00-7cae-11e9-8732-a40ce25cf6dc.png)
in addition to the terminal error:
`Error: Access was denied while trying to open files in your profile directory.`

[2019-05-22 14:28] tinmanx commented on #2720
this is the same for appimage and the repo version

[2019-05-22 14:29] smitsohu commented on #2718
@chiraag-nataraj We already have a new release candidate, and 0.9.58 will be replaced very soon anyways.

LTS is a different story, imho it should be backported. What does @startx2017 think?

[2019-05-22 14:29] chiraag-nataraj commented on #2720
Okay yeah, that is a Firefox error. It doesn't make sense, though, since `~/.mozilla` should exist. Can you make sure `~/.mozilla/firefox/` exists within the sandbox?

[2019-05-22 14:30] SkewedZeppelin commented on #2718
What about getting a CVE assigned?
And many distros still aren't even shipping 0.9.58.

[2019-05-22 14:34] chiraag-nataraj commented on #2642
Looks like this was answered! I'll close this for now, but @Nokia808, please feel free to re-open if this didn't work.

[2019-05-22 14:34] #2642 closed

[2019-05-22 14:39] chiraag-nataraj commented on #2196
I'm going to close this for now. @Iggy-J, please feel free to re-open if this is still an issue.

[2019-05-22 14:39] #2196 closed

[2019-05-22 14:42] chiraag-nataraj commented on #2310
Seems like this was answered. @reinerh, I'll go ahead and close this, but please feel free to re-open if you have further questions.

[2019-05-22 14:43] chiraag-nataraj commented on #2291
Seems like this was answered, so I'll go ahead and close this. @thebunnyrules, pleas feel free to re-open if you have further questions.

[2019-05-22 14:43] #2291 closed

[2019-05-22 14:47] tinmanx commented on #2720
yes it exists
`drwx------ 1000     1004            4096 .mozilla`
Yeah it does not make sense.  This is also a new fresh VM, so, i dont know what the issue could be.

Did you try this on debian?

[2019-05-22 14:49] reinerh commented on #2310
It was actually more a bug report or feature request than a question...

If firejail does not support being run without suid-flag, then this should be checked and printed.
If only a subset of the features is working without suid, then it should give a better explanation what failed (other than "permission denied") and maybe workaround it if possbile (like falling back to a directory that is actual

[2019-05-22 14:54] chiraag-nataraj commented on #2720
Yes, and it actually worked. My firefox is tightly sandboxed though...

[2019-05-22 15:00] tinmanx commented on #2720
With what version firefox? you said 66.0.5 ,  Use the 67.0 version because thats the one with the actual issue.

[2019-05-22 15:02] chiraag-nataraj commented on #2720
So are you saying that once you did `--ignore=private-bin`, the error disappeared for 66.0.4?

[2019-05-22 15:03] chiraag-nataraj commented on #2720
Yes, right now I've been using 66.0.5. Let me download 67 from Mozilla's site and see if I run into the same issue.

[2019-05-22 15:10] chiraag-nataraj commented on #2720
I had no issue with Firefox 67.0 (from Mozilla's site) running with a fresh profile and keepassxc sandboxed with the default profile (from git master).

[2019-05-22 15:11] SkewedZeppelin commented on #2720
iirc 67 changes how profiles are handled and `--no-remote` is default now?

[2019-05-22 15:12] chiraag-nataraj commented on #2720
Hmm, I thought it was just that they automatically set up a new profile for release, nightly, dev, beta, etc? I don't think they do `--no-remote` by default, since I was able to open a link just fine (once I put `--private-bin=firefox` to add `firefox` to the sandbox).

[2019-05-22 15:18] chiraag-nataraj commented on #2720
@tinmanx, can you download firefox from mozilla's website, *close all open firefox windows*, and do the following?
1. `cd` to the directory where you extracted `firefox` (from the `tar.bz2` file).
2. `ff=$(mktemp -d)`
3. `./firefox --profile "$ff"`
4. Now, in a separate terminal: `firejail --private-bin=firefox keepassxc`
5. Click on the link.

This should: (a) make sure you're running with a clea

[2019-05-22 15:53] tinmanx commented on #2720
@chiraag-nataraj i take it this is the portable version of firefox and you putting a profile into memory to test?
I tried this as you said, but i get the below error:
`Launch failed (/usr/local/bin/firefox https://www.google.com/)`

[2019-05-22 15:57] tinmanx commented on #2720
Just note that, by default usually in my own situation Firefox is not jailed at all.

What exactly do you mean by `--no-remote`  is this a firejail command or a Firefox command to prevent remote execution?

[2019-05-22 16:01] rusty-snake commented on #2720
@tinmanx `-no-remote` is an firefox arg. `firefox --help`:

  --new-instance     Open new instance, not a new window in running instance.

remote commands means something like "open a new window" or "open URL XY in a new tab".

[2019-05-22 16:02] chiraag-nataraj commented on #2720
Yes. For this test, I didn't jail firefox (even though I normally do).

[2019-05-22 16:11] tinmanx commented on #2720
What do you mean from git master?
im using the following:
firejail 0.9.58.2
keepassxc 2.4.1

Did you use Firefox 67.0 tar.bz2 or did you install from your debian repo?

Guys this is very strange, im telling you something was changed in Firefox 67.0.  We need to find out what it is.  Firefox v66.0.5 works perfectly as it always did, even in previous versions.

[2019-05-22 16:18] chiraag-nataraj commented on #2720
I used `firejail` from git master (so `0.9.60~rc2`), not `0.9.58.2`, `keepassxc `2.3.4` (latest version in Debian), and `firefox` downloaded from Mozilla (so `67.0`).

I didn't attempt to install `firefox` at all &mdash; just ran it from the directory I extracted to (happened to be in my Downloads folder).

[2019-05-22 16:19] chiraag-nataraj commented on #2720
If you use a new Firefox profile, does it work? You can (easily) create a new profile by going to `about:profiles`.

[2019-05-22 16:31] openffchrome commented on #2720
i have a big problem since FF 67 too, when i click on a link from an sandboxed application it launch a whole new firefox instance with a new profile instead of using my firefox which is already launched in background!! it really ruin the usage of my pc :/

[2019-05-22 16:32] tinmanx commented on #2720
No it doesnt, i tried that now.

I also found this: not sure if this might be of any help to you that you can maybe figure out if its using an incorrect profile.

[2019-05-22 16:40] tinmanx commented on #2720
I am under the impression that when firejail is trying to open a URL, Firefox forces a brand new instance and profile, which wont work, (because when firefox is closed in general and you try to open a link, its the exact same error i get)

[2019-05-22 19:11] step- commented on #1590
@chiraag-nataraj

[code]

[2019-05-22 19:16] step- commented on #1590
@smitsohu

Even without `--noprofile`

[code]

[2019-05-22 20:17] smitsohu commented on #1590
Ah right, there is a second reason. Profiles are parsed after the command line options. This means if you want to skip a command line option, the corresponding `--ignore=` must be present on the command line.

[2019-05-22 20:57] smitsohu commented on #2718
@netblue30 ?

[2019-05-22 21:48] SkewedZeppelin commented on #2718
this fine?

[code]

[2019-05-22 22:26] rieje commented on #2698
I am on Arch Linux and firejail is on version 0.9.58.2-1.

* First command (with ssh verbose option) [output](http://sprunge.us/hbZ9Zc). I see the host key fingerprint and that's it until I kill the process with `Ctrl+c`.

* Second command (with ssh verbose option) [output](http://sprunge.us/iJO0LR). Same thing--I see host key fingerprint and that's it until I kill the process.

*  Without firejai

[2019-05-22 22:46] smitsohu commented on #2718
More a side note: So far we as upstream only support the last version and LTS, and I tend to believe this is a wise decision. I'd say for earlier versions it is the maintainers job to backport fixes, in line with their respective distribution policy.

[2019-05-22 22:57] SkewedZeppelin commented on #2718
@smitsohu
okay, would you like to send that edited to oss-security list?

[2019-05-22 23:24] SkewedZeppelin commented on #2718
I have done some backports here
https://gist.github.com/SkewedZeppelin/7f67a131a3d31bfa9d64eaf1a72b1971

[2019-05-22 23:26] smitsohu commented on #2718
It would be good to make a release, at least a second 0.9.60 release candidate.....

[2019-05-22 23:49] owenh000 commented on #1290
I am not seeing this problem now, with or without firejail. I am using the same versions as before: firejail 0.9.58.2-1~bpo9+1 and xpra 0.17.6+dfsg-1.

Feel free to close this issue if that seems appropriate. I'll post an update here if this starts happening again. Thank you!

[2019-05-23 00:28] smitsohu commented on #2718
asked MITRE for a CVE

[2019-05-23 00:32] chiraag-nataraj commented on #1290
Great, I'll go ahead and close this for now, thanks for getting back! :)

[2019-05-23 00:32] #1290 closed

[2019-05-23 00:37] chiraag-nataraj commented on #1590
Okay, so `/tmp` isn't a symlink. If `/tmp/.X11-unix` isn't a symbolic link either, I'm very confused. Just to confirm, can you do an `ls -lh /tmp/.X11-unix` and report back with the output?

[2019-05-23 00:40] chiraag-nataraj commented on #2720
Something's _very_ weird because _that is not the behavior I experienced_. When I had `firefox` 67.0 running (although it wasn't officially installed), `keepassxc` opened links in the running instance.

[2019-05-23 00:59] Raj2032 opened #2721 "Is it possible to create a new file virutal filesystem and isolate it from the main operating system?"
Is it possible to create a new file virtual filesystem and isolate it from the main operating system using firejail?

[2019-05-23 01:59] chiraag-nataraj commented on #2205
I'll go ahead and close this for now. @iskunk, please feel free to re-open if you still have this issue or have further questions.

[2019-05-23 02:01] chiraag-nataraj commented on #1651
I'm going to go ahead and close this for now. @cryptogun or others, please feel free to re-open if you still have this issue or have further questions.

[2019-05-23 02:01] #1651 closed

[2019-05-23 02:08] jplien commented on #1590
I was still having problems with /tmp in firejail as of today.  This thread spurred me to do something I'd been meaning to do for a long time: switch /tmp from a symlink to a bind mount.  This seems to have resolved the issues I was having.  I was able to remove ignore private-tmp from globals.local and it starts just fine now.

[2019-05-23 02:17] chiraag-nataraj commented on #2643
Looks like this was answered, so I'll go ahead an close this. @Nokia808, please feel free to re-open if you need further clarification or if something's not working.

[2019-05-23 02:17] #2643 closed

[2019-05-23 06:13] iskunk commented on #2205
Hi @chiraag-nataraj, apologies for the delay; I had to rebuild a test environment for this bug.

I tried this again, using firejail `0.9.60~rc2` (Git `43cbc6d5`), and have verified that the issue still exists. The host X session remains vulnerable to a sandboxed X11 program.

I also tested with `--nodbus`, as @rusty-snake suggested. Unfortunately, this option did not improve matters.

(I cannot re

[2019-05-23 06:58] Tanath commented on #2336
@chiraag-nataraj Unfortunately not. Still not using firejail with JDownloader.

[2019-05-23 07:38] step- commented on #1590
@smitsohu

I'm not sure why you think that my /tmp is symlinked. This is what I have:
[code]

[2019-05-23 08:18] chiraag-nataraj commented on #1590
@step- How about `readlink -f /tmp/.X11-unix`?

[2019-05-23 08:19] chiraag-nataraj commented on #2205
Reopening!

[2019-05-23 08:25] step- commented on #1590
[code]

[2019-05-23 08:44] chiraag-nataraj commented on #1590
Looking at the code in `fs_whitelist.c`, the "skip whitelisting of " lines come about when either:

1. The mount point doesn't exist.
2. The mount point is a symbolic link.

Question: Is your `/run/` directory a symlink to anywhere?

[2019-05-23 08:45] chiraag-nataraj commented on #2721
In what context? You could use `--overlay-tmpfs`, for example, depending on what you're trying to do.

[2019-05-23 09:22] chiraag-nataraj commented on #1347
I'll close this for now. @glitsj16, feel free to re-open if you have more questions.

[2019-05-23 09:22] #1347 closed

[2019-05-23 09:23] chiraag-nataraj commented on #992
Is this still an issue @craftyguy?

[2019-05-23 09:25] chiraag-nataraj commented on #933
@maurorappa I'm going to close this for now due to inactivity, but please feel free to re-open if you still have this issue.

[2019-05-23 09:25] #933 closed

[2019-05-23 09:32] chiraag-nataraj commented on #907
So _default_ environment variables are being applied, but the issue is that there's no way to know a priori what environment variables need to be set again...`start_application` does a `env_defaults(); env_apply()`, which sets up the default environment variables and then applies them.

[2019-05-23 09:37] chiraag-nataraj commented on #1375
Closing due to inactivity. @ecapuano, please feel free to re-open if this is still an issue for you.

[2019-05-23 09:37] #1375 closed

[2019-05-23 11:32] joede opened #2722 "Starting syncthing throws message "Firefox profile cannot be loaded...""
I'm running Firejail 0.9.52 + profiles of Ubuntu 18.04. These are the official packages (neither a backport nore a self-compiled binary). To run Syncthing within a jail, I decided to move the official Syncthing binary (not the one of Ubuntu) into a subdirectory `~/.syncthing`. The configuration files will be stored at `~/.config/syncthing`.

This is the self created profile I'm using:

[code]

Aft

[2019-05-23 11:33] Raj2032 commented on #2721
So I want to install an application in a virtual environment, so I wanted to know if you can create a filesystem and this filesystem is isolated and cannot access the main operating system's files and any other resources. Does `--overlay-tmpfs` do what I want it to do?

Also with these virtual file systems, is it stored as a file on the main file system?

[2019-05-23 12:29] SkewedZeppelin commented on #2722
You probably have Syncthing set to open the browser to itself.
The option is Settings > Advanced > Start Browser
untick, restart, retest

[2019-05-23 12:51] rusty-snake commented on #2205
@iskunk can you try `firejail --net=none --nonewprivs --nodbus --private --ipc-namespace --nogroups --shell=none --private-tmp --private-bin=openbox --private-etc=none --x11=xephyr openbox`. If one (or more) of this args break openbox to start, try without this one.

[2019-05-23 13:09] rusty-snake commented on #2721
@Raj2032 you may sould consider to use a VM. If you want to use firejail you can use the `--chroot` option (https://firejail.wordpress.com/documentation-2/basic-usage/#chroot), then you still need to protect the kernel like `firejail --noprofile --seccomp --chroot=/your/chroot program`

[2019-05-23 13:22] Raj2032 commented on #2721
@rusty-snake I don't want to use VM as that is too slow.

Whats the difference between `--overlay-tmpfs` and `--chroot`?

[2019-05-23 13:28] rusty-snake commented on #2721
Chroot the sandbox into a root filesystem. Unlike  the  regular
              filesystem  container, the system directories are mounted read-
              write. If the sandbox is started as  a  regular  user,  default
              seccomp and capabilities filters are enabled.

              Mount  a  filesystem  overlay on top of the current filesystem.
              All filesystem modification

[2019-05-23 15:03] joede commented on #2722
My fault... I wasn't aware of the "start browser" option. After switching off, the message disappears! Thanks for that.

For the tips:

I moved all the folders to sync below `~/.syncthing` to avoid adding each new folder to the profile.

My new step would be to use a *systemd user service* to autostart Synching. I'm not sure I understand your note about systemd defaults. Is my profile ok to be use

[2019-05-23 15:34] craftyguy commented on #992
@chiraag-nataraj well, not sure since I gave up trying to run steam games through firejail.. now I just use system permissions (e.g. a dedicated 'steam' user) to 'jail' steam + games.

[2019-05-23 16:15] Tvax commented on #1836
@chiraag-nataraj No it's not!

[2019-05-23 16:36] cokeflash commented on #2706
ok, thanks, I'll try it out.

[2019-05-23 17:04] cokeflash commented on #2706
I renamed my tor-browser-profile to: "start-tor-browser.profile"

When I start "firejail /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser"

I edited: "disable-programs.inc"

# Persistent customizations should go in a .local file.
include /etc/firejail/disable-programs.local

# "t0r_bR0Wser"
blacklist /mnt/tor-browser-tmpfs/tor_browser/Browser/.cache
blacklist /mnt/tor-browser-tmpfs/tor

[2019-05-23 17:43] tsankuanglee opened #2723 "Use wildcards for handling paths in /dev"
Thanks for #1990.

Can we get a real `/dev/hidraw*` coverage, as opposed to `/dev/hidraw?`. Mine goes to /dev/hidraw18, for example.

Relates to:

* #4892
* #5391
* #6344

[2019-05-23 17:56] rccavalcanti commented on #1619
@chiraag-nataraj I'm not using Plasma currently, so I can't say.

[2019-05-23 18:02] rusty-snake commented on #2706
@cokeflash use the following profile (save as e.g. $HOME/.config/firejail/torbrowser.profile:
[code]

and run it with `firejail --profile=torbrowser  /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser`

also which firejail version are you using?

[2019-05-23 18:04] rusty-snake commented on #2706
Alternative you use my "[HOWTO: Firejailed Tor Browser](https://github.com/rusty-snake/firejailed-tor-browser)". But this is still not fully finish.

[2019-05-23 18:08] #1836 closed

[2019-05-23 18:11] step- commented on #1590
Yes, it is
[code]

[2019-05-23 19:25] iskunk commented on #2205
@rusty-snake, I had to drop `--private-bin` and `--private-etc` for Openbox to start, but with the remaining options, the session was not killed.

I then proceeded to remove options (except for `--x11`, of course) until I observed the host X session killed as originally reported.

The `--private` option appears to be significant. That one prevents the problem behavior. (Specifically, `firejail --p

[2019-05-23 20:45] mkkot commented on #2324
Firefox 66.0.2:
![Przechwycenie obrazu ekranu_2019-05-23_22-39-53](https://user-images.githubusercontent.com/10531790/58285004-3cd5c400-7dac-11e9-994c-616d1294e7ad.png)

I think I will have to read about some performance visualizers to debug this issue.

[2019-05-23 22:15] chiraag-nataraj commented on #2722
I do this for several services and it should work fine. I think what @SkewedZeppelin was getting at is that you might have additional protections based on how you write the service file for it. In my case, I let `firejail` handle all the sandboxing and have a _very_ minimum unit file, something like:
[code]
Or, if I have a wrapper script (something I often setup anyway), I'll use that instead for

[2019-05-23 22:17] chiraag-nataraj commented on #2723
Hmm, yeah, we should do this. I'll have to look at how we did globbing in other areas.

[2019-05-23 22:18] chiraag-nataraj commented on #1619
Okay, I'll close this for now. Please feel free to re-open if you're experiencing this and we'll take a look then.

[2019-05-23 22:18] #1619 closed

[2019-05-23 22:19] chiraag-nataraj commented on #992
Okay, I'll close this for now, then. Please feel free to re-open if you decide to try to get `firejail` to place nicely with Steam in the future.

[2019-05-23 22:19] #992 closed

[2019-05-23 22:21] chiraag-nataraj commented on #1590
I think that's what's causing the issue...`firejail` stores the original stuff in `/run/firejail/<blah>`, and...well...it can't really do that in your case. You should mount it as a separate `tmpfs` (not symlink it) and you should be fine.

[2019-05-23 22:26] chiraag-nataraj commented on #1630
Haha I'll re-open it myself since I'm running into the same issue right now :joy:

[2019-05-23 22:28] chiraag-nataraj commented on #1630
Never mind. I restarted it after it kept spinning and now it says "up to date"...:man_shrugging:

[2019-05-23 22:32] chiraag-nataraj commented on #1630
Sorry for the noise. I figured out that it didn't actually update.

[2019-05-23 22:50] chiraag-nataraj commented on #1630
Workaround: Use the control script [here](https://www.dropbox.com/install?os=lnx) and run the `update` operation. If it works, I'll add the workaround label and close this again :stuck_out_tongue_winking_eye:

[2019-05-24 00:14] smitsohu commented on #1590
Also quoting the [FHS](https://refspecs.linuxfoundation.org/FHS_3.0/fhs-3.0.pdf)

[2019-05-24 00:16] chiraag-nataraj commented on #1630
Here's the full workaround:
1. Download [this script](https://www.dropbox.com/install?os=lnx) and put it somewhere you can easily access _within the sandbox_.
2. Edit the `is_dropbox_valid()` function (starts at line `254` I believe) to always `return True` (you don't even need to do much, just ensure that's the first line of the function and you don't even need to touch the rest).
3. Start a sand

[2019-05-24 00:16] #1630 closed

[2019-05-24 01:30] SkewedZeppelin commented on #992
@craftyguy
ot:
some games spread their tentacles far and wide and are also becoming a more popular target to attack

if you aren't using firejail, consider trying the flatpak version and follow the steps here
https://github.com/flathub/com.valvesoftware.Steam/wiki/Sandbox-hardening

[2019-05-24 01:34] chiraag-nataraj commented on #1757
Why not just run a script which runs both steps, one after the other? Something like:
`firejail --overlay-tmpfs ~/path/to/my/script.sh` where
`script.sh` looks like:
[code]
(and you could do a manual `--profile=path/to/profile` if you wanted to lock it down or whatever).

[2019-05-24 01:37] chiraag-nataraj commented on #1757
This seems to have been fixed at some point. I can't replicate it with the current master.

[2019-05-24 01:55] tofurky commented on #1950
it's the standard way of doing it on debian/ubuntu, at least.

[2019-05-24 07:10] tinmanx commented on #2720
@chiraag-nataraj i dont know what to tell you. I tried this on a fresh Ubuntu 18.04 no xfce4 or anything like that. just plain Ubuntu 18.04 Desktop.  Same issue after installed firefox from repo.

Can you try installing firefox from Debian repo, delete ~/.mozilla and open firefox for it to create new profile.  Then run keepassxc with firejail so you can tell me

[2019-05-24 07:27] Raj2032 commented on #2721
@rusty-snake Thanks man one last question, using firejail chroot, can you have multiple filesystems?

[2019-05-24 09:05] step- commented on #1590
@chiraag-nataraj @smitsohu Thank you for providing an explanation of this issue, and for the FHS quote.  Fatdog64 is designed as a non-sudo GNU Linux, so its view of security is different from the mainstream view, see [Fatdog64 FAQ](http://distro.ibiblio.org/fatdog/web/faqs/login.html). I will ponder your recommendations and extend them to the Fatdog64 dev team for comments. Thank you again.

[2019-05-24 09:47] rusty-snake commented on #2721
@Raj2032 Not sure, but maybe with mount or bind-mount.

[2019-05-24 13:02] chiraag-nataraj commented on #2720
Interesting, once I installed it system-wide, I had the same issue. Can you try this profile for `keepassxc` and report back? (NB: It assumes your database is stored in `~/.config/keepassxc` for simplicity...you can add other whitelist paths if you want).
`~/.config/firejail/keepassxc.profile`:
[code]
`~/.config/firejail/common.inc`:
[code]

[2019-05-24 13:07] chiraag-nataraj commented on #1590
No problem! I'll go ahead and close this issue since it seems we (finally!) figured out what was going on. If you're still running into the problem after un-symlinking `/run`, please feel free to re-open and we'll do some further debugging :)

[2019-05-24 13:07] #1590 closed

[2019-05-24 21:17] craftyguy commented on #992
@SkewedZeppelin Running games under a local user with no access (using normal unix-y permissions) to anything else in the filesystem, etc should be sufficient without having to get into the container mess. All of the examples in that link are essentially non-issues with this method, since the user cannot access things owned by other users/groups it is not a member of.

[2019-05-25 01:23] Raj2032 commented on #2721
@rusty-snake Thanks

[2019-05-25 02:34] glitsj16 commented on #2698
@rieje Looks like the firejail tunnel is working. Have you tried using a systemd user unit yet to control the tunnel? Something like the below can be placed under ~/.config/systemd/user as sshtunnel.service:

[code]

From your shell function I infer you don't want to have the tunnel running all the time, so you don't have to enable the service. Alternatively you could look into [sshtunnel](https:/

[2019-05-25 05:26] rieje commented on #2698
Just tried it and it works. Any particular reason for `RemainAfterExit=yes` out of curiosity? Want to keep it as simple as possible.

Works great, much appreciated. Still don't know why the original function isn't running, but this seems simpler anyway. Feel free to close this issue if you want.

[2019-05-25 05:47] glitsj16 commented on #2698
@rieje Happy to see you've got it working now. My guess the original shell function hangs because the first ssh command isn't backgrounded. SSH is backgrounded, but not the shell command itself. If you would like to test, just for the fun of it, try putting a `&` after `pi` and add a `sleep 2` (or something appropriate to wait untill the tunnel is running) before starting firefox.

About the `Rema

[2019-05-25 05:47] #2698 closed

[2019-05-25 07:20] viq commented on #2605
It's a click this button that does xdg-open, you can't right click to get
URL

On Mon, 20 May 2019, 17:31 ಚಿರಾಗ್ ನಟರಾಜ್, <notifications@github.com> wrote:

[2019-05-25 08:19] glitsj16 commented on #2605
@viq The slack profile uses `private-bin slack,locale`.

Have you tried adding xdg-open to private-bin yet? Either in a slack.local file or from the command-line via --private-bin=xdg-open.

[2019-05-25 11:48] cokeflash commented on #2706
Ok, thanks! I'll try it out.

[2019-05-25 13:39] intika commented on #2683
Also this project https://github.com/pekman/netns-exec does what is requested here... it could be integrated in firejail with an option to allow dbus like `--proxydbus`

[2019-05-25 14:00] cokeflash commented on #2706
# firejail --profile=torbrowser /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser
Error: cannot access profile file

Can I save the torbrowser.profile to /etc/firejail? ...(where firejail stores other profiles...)

[2019-05-25 14:02] cokeflash commented on #2706
Version:  0.9.52-2

[2019-05-25 14:05] cokeflash commented on #2706
Copied the torbrowser.profile to /etc/firejail... same error, cannot access profile file.

[2019-05-25 14:45] rusty-snake commented on #2706
@cokeflash because of your (old) firejail version. I update the profile above again. You can copy it to `${HOME}/.config/firejail/tor-browser.profile` and try executing `firejail --profile=$HOME/.config/firejail/torbrowser.profile /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser`

[2019-05-25 15:52] mjell027 commented on #2214
As @smitsohu already said this worked for me:
If you have not done so yet, please run libreoffice once without firejail.
To do this, give the absolute path on the commandline, e.g. /usr/bin/loffice.

[2019-05-25 18:05] cokeflash commented on #2706
Thanks, I'll try it out tomorrow.

[2019-05-25 18:21] glitsj16 commented on #2683
@dandelionred If you're still interested in this, I think you might achieve want you want by using the `dns` setting (in addition to 'ignore net' and 'ignore nodbus'). If you add a non-existing dns server address to gimp.local, e.g. `dns 128.0.0.1` (assuming you don't run a DNS server on that address), that should stop name resolution. The only snag is that the dns feature is not supported on syst

[2019-05-25 18:30] janisdd commented on #1757
You're right. I just wrapped the whole process in another firejail call.
The first uses `firejail --quiet --overlay-tmpfs` and runs the java program to handle in-/output and then the java program starts the user program with `firejail --quiet --profile=...`

Guess this can be closed (as the root/first call can always use `--overlay-tmpfs` and wrap all other calls)

[2019-05-25 18:32] #1757 closed

[2019-05-25 18:36] rusty-snake commented on #2683
@glitsj16 I don't think that this work, because setting `protocol unix` (no inet,inet6) doesn't prevent the internet access, because it use dbus to leave the sandbox.

[2019-05-25 18:39] rusty-snake commented on #2706
The file will read as root, so you can set what you want ;)

The issue above was that your firejail version needs absolut paths for profiles.

[2019-05-25 18:42] chrsmrtnx commented on #2685
I've noticed that on my KDE desktop, `$XAUTHORITY` is set to `/tmp/user/1000/xauth-1000-_0`; apparently this is a KDE peculiarity (googling around yields lots of discussion). If I then run `firejail --profile=/etc/firejail/firefox.profile bash`, I find that I have a root-only-writable `/tmp/user/1000` directory containing `xauth-1000-_0`, just as I've described above. Firefox then tries and fails

[2019-05-26 02:30] netblue30 commented on #2718
Thanks @apmorton

New release Monday morning. If you want to bring in any other fix, now is the time. If we don't get a CVE number by Monday, we'll add it later. I'll grab the patch from @SkewedZeppelin and add it in etc-fixes directory here on mainline. For LTS a new release probably sometime next week, there are some more fixes to be added there, I'll have to tak to @startx2017 .

[2019-05-26 09:30] cokeflash commented on #2706
I run this command:  # firejail --profile=/etc/firejail/torbrowser.profile /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser

...but FireJail is shutting down :-(

Reading profile /etc/firejail/torbrowser.profile
Reading profile /etc/firejail/disable-common.inc
Reading profile /etc/firejail/disable-devel.inc
Reading profile /etc/firejail/disable-passwdmgr.inc
Reading profile /etc/fireja

[2019-05-26 09:37] cokeflash commented on #2706
AppArmor is blocking torbrowser with FireJail.

When I run /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser alone, then it works without FireJail.

[2019-05-26 12:32] cokeflash commented on #2706
[url=https://postimg.cc/5HRmJ7VS][img]https://i.postimg.cc/5HRmJ7VS/App-Armor-denied.png[/img][/url]

[2019-05-26 13:18] rusty-snake commented on #2706
@cokeflash OK, then remove the `apparmor` line in the profile and try again.

[2019-05-26 13:27] rusty-snake commented on #2718
The RELNOTES should be updated, we have some new stuff like private-cwd or deterministic-exit-code and so on.

[2019-05-26 15:28] netblue30 commented on #2718
RELNOTES done, anything missing just add it in. I'm doing some testing right now, tonight or tomorrow morning it should be out.

[2019-05-26 16:51] apmorton opened #2725 "--timeout results in approximately 2 seconds of latency for all executions"
https://github.com/netblue30/firejail/blob/c8e3cb72d477013adb57beb03417acb0f076d739/src/firejail/sandbox.c#L306

For some use cases this makes the timeout functionality unusable.

I have looked into solutions and I believe using `timer_create` to send a signal and configuring the signal to interrupt library calls should work.

I will take a stab at this sometime this week (after the release on Mon

[2019-05-26 17:40] rusty-snake commented on #1983
As a workaround you could use `env` to set an alternative/own GTK+2, GTK+3, GTK+4, QT4, QT5 theme.

[2019-05-26 17:45] rusty-snake commented on #404
Any progress here?

[2019-05-26 17:56] rusty-snake commented on #2339
@Zypherspace closing due to a long period of inactivity, if you have future questions, fell free to re-open.

[2019-05-26 17:56] #2339 closed

[2019-05-27 03:00] Edu4rdSHL opened #2726 "[bug] - obs not working when launched with firejail"
The following error is present when launching obs studio using the firejail profile:

[code]
![2019-05-26-215947-sechacklabs](https://user-images.githubusercontent.com/32582878/58392863-9b47b000-8001-11e9-9409-1cdbfbdc92a2.png)

[2019-05-27 03:48] SkewedZeppelin commented on #2726
The private-bin will need to be updated
can you try the following as a workaround for now?
`sudo sed -i 's/private-bin/#private-bin/' /etc/firejail/obs-studio.profile;`

[2019-05-27 04:30] Edu4rdSHL commented on #2726
Done, now I got:

[code]

[2019-05-27 04:32] SkewedZeppelin commented on #2726
`sudo sed -i 's/include disable-exec.inc/#include disable-exec.inc' /etc/firejail/obs.profile;` ?

[2019-05-27 04:41] Edu4rdSHL commented on #2726
Same error:

[code]

And JFYI: add / to `#include disable-exec.inc` in the sed command, it sould be:  `sudo sed -i 's/include disable-exec.inc/#include disable-exec.inc/' /etc/firejail/obs.profile;`

[2019-05-27 11:46] cokeflash commented on #2706
AppArmor torbrowser denied-message is gone but torbrowser with firejail don't start.

See:
firejail firejail --profile=/etc/firejail/torbrowser.profile /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser
Reading profile /etc/firejail/torbrowser.profile
Reading profile /etc/firejail/disable-common.inc
Reading profile /etc/firejail/disable-devel.inc
Reading profile /etc/firejail/disable-pas

[2019-05-27 12:02] cokeflash commented on #2706
Could it be that AppArmor is blocking Firejail to run TorBrowser? I also have an AppArmor profile for FireJail called 'firejail-default' and for the TorBrowser 'home. tor-browser. firefox' ...

Do I have to change anything?

[2019-05-27 12:04] rusty-snake commented on #2706
@cokeflash ok then comment every line in tor-browser.profile and uncomment line for line and try after any uncomment.

Does one of the following work?
`firejail --ignore=private-bin --profile=/etc/firejail/torbrowser.profile /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser`
`firejail --noprofile /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser`

Have you edited /etc/firejai

[2019-05-27 12:10] rusty-snake commented on #2726
@Edu4rdSHL what is in your `/etc/firejail/globals.local`?

[2019-05-27 14:32] cokeflash commented on #2706
No, i don't edited 'firejail.config'.

Must I edit something? Or add something?

My firejail.config:

# This is Firejail system-wide configuration file.  The file contains
# keyword-argument pairs, one per line. Most features are enabled by default.
# Use 'yes' or 'no' as configuration values.

# Number of ARP probes sent when assigning an IP address for --net option,
# default 2. This is a partia

[2019-05-27 14:56] rusty-snake commented on #2706
Nope.

[2019-05-27 16:00] Vincent43 commented on #408
@netblue30 opinions?

[2019-05-28 01:33] Edu4rdSHL commented on #2726
[code]

[2019-05-28 10:04] curiosity-seeker commented on #1846
Kees Cook [writes](https://outflux.net/blog/archives/2019/05/27/security-things-in-linux-v5-1/) in his excellent blog regarding security enhancements in kernel 5.1:

Micah Morton [added](https://git.kernel.org/linus/aeca4e2ca65c1aeacfbe520684e6421719d99417) the new [SafeSetID LSM](https://www.kernel.org/doc/html/latest/admin-guide/LSM/SafeSetID.html), which provides a way to narrow the power assoc

[2019-05-28 10:48] Vincent43 commented on #1846
No, firejail needs to be root.

[2019-05-28 10:51] Vincent43 commented on #2726
@Edu4rdSHL add `/usr/share/obs/** ix`, to `/etc/apparmor.d/local/firejail-local`

[2019-05-28 11:43] chiraag-nataraj commented on #2721
@Raj2032 since it seems like your questions were answered, I'll go ahead and close this. Feel free to re-open if you have more questions!

[2019-05-28 11:43] #2721 closed

[2019-05-28 11:47] chiraag-nataraj commented on #2685
@chrsmrtnx, _ah_, that would explain it (I'm running AwesomeWM myself, so I clearly wouldn't have this issue).

Hmm, yeah, that might be useful...I'm just worried about any security implications. @netblue30 or others, thoughts?

[2019-05-28 11:57] chiraag-nataraj commented on #2605
^ I would second @glitsj16. I suspect adding `xdg-open` to the `private-bin` invocation should help (although you probably need to have your browser already running, since starting the browser inside the `slack` sandbox would require loosening it a lot). @viq, can you try and report back? I would, but I exclusively use the webapp.

[2019-05-28 12:47] chiraag-nataraj commented on #2720
@tinmanx, any luck with the `keepassxc` profile I posted above?

[2019-05-28 12:49] chiraag-nataraj commented on #2722
@joede, I'm going to go ahead and close this since it seems the original question was answered. Feel free to continue seeking help for the `systemd` user service part of this, though...I'd be happy to give you more details about my setup (I actually setup a similar thing for `dropbox`).

[2019-05-28 12:49] #2722 closed

[2019-05-28 13:01] smitsohu commented on #2685
I can give it a stab.

[2019-05-28 13:04] smitsohu commented on #2685
The  problem is here:
https://github.com/netblue30/firejail/blob/286b2707785abc1c75afc8bb82d956c60c561057/src/firejail/fs_whitelist.c#L246

We just have to improve the way the path for the mount target is created.

[2019-05-28 15:02] cokeflash commented on #2706
I'll try it out at weekend.

[2019-05-28 19:07] chiraag-nataraj commented on #2692
@Neo00001 What is the output of `which atom`?
@matu3ba How are you installing `surf`? As I remarked in my previous comment, the version of `surf` I can install doesn't come with a `.desktop` file, which is what we're talking about here. Does your version of `surf` come with a `.desktop` file (menu entry)?

[2019-05-28 19:57] matu3ba commented on #2692
@chiraag-nataraj Yes, for a packaged surf that is the case.

[2019-05-28 21:56] chiraag-nataraj commented on #2692
@matu3ba, which distribution are you running?

[2019-05-28 22:00] chiraag-nataraj commented on #2713
@netblue30, thoughts?

[2019-05-28 22:01] Neo00001 commented on #2692
Sorry,man. But I've uninstalled atom long ago & don't have any intention to re-install it again.

[2019-05-28 22:03] chiraag-nataraj commented on #2692
@Neo00001 :man_shrugging: Okay, I guess I'll close this for now. If you ever start using it again (or if someone else is running into this), please feel free to re-open.

@matu3ba, let's move your problem to a new issue.

[2019-05-28 22:03] #2692 closed

[2019-05-29 09:34] testbird commented on #1117
I see, if I understand you maybe only a per-profile allow-join could make sence then, to allow some user access as an exception?

Maybe not yet.

Because I think what what irritates me may be more basic, i.e. that firejail does not seem to "drop priviledges" to the level of the executing user, at least where it makes sence, like preventing unprivileged users from overriding central, root-owned, re

[2019-05-29 11:43] Vincent43 commented on #1117
In general firejail doesn't protect against malicious local users. It protects users from the apps not apps from the users. Note that anyone can easily bypass firejail by starting app with full path like `/usr/bin/firefox` so preventing users from modifying profiles doesn't make sense. Containing users may be possible by changing their login shell to `/usr/bin/firejail` but such environment would

[2019-05-29 12:18] garywill opened #2728 "Installing some Linux packages in overlayFS?"
Hello firejail,

I want to try some software on my Linux but don't want to install them to my real system. Installing to firejail overlay FS is an option.

But I can't use sudo to install in firejail. Running firejail as root is not a good idea, and root in firejail can't use X.
What I want to do to overlayFS is
1. Installing software as root
1. Running software (GUI) as general user

Is there som

[2019-05-29 12:19] rusty-snake commented on #2728
@garywill what about https://firejail.wordpress.com/documentation-2/basic-usage/#overlayfs?

[2019-05-29 12:50] testbird commented on #1117
But can't compromised apps (running with a local user account) not execute firejail just as the local user itself?

[2019-05-29 14:35] Vincent43 commented on #1117
When run in firejail sandbox, compromised apps have much less privileges than local user outside sandbox and they can't use firejail to modify it (even to make it more strict). What exactly they can do is defined by a profile + command args and they're controlled by user (and firejail) not an app.

[2019-05-29 14:43] chiraag-nataraj commented on #1117
Except, like, `firejail` "goes to sleep" after launching the child process (the program you wanted to start).

The entire security model (and the threat `firejail` is meant to protect against) is the case where the program is behaving maliciously. That is, say there's a drive-by download in `firefox` and the program is supposed to run automatically after downloading. Well, within the context of `f

[2019-05-29 14:48] chiraag-nataraj commented on #2447
I'm going to close this for now due to inactivity. @Ryujinra, please feel free to re-open if you are still running into this and can provide more info.

[2019-05-29 14:48] #2447 closed

[2019-05-29 14:54] chiraag-nataraj commented on #2446
The main problem is that it's hard to have a default profile which _actually_ "just works" for most programs _and_ provides meaningful security enhancements. Otherwise, we could just have one profile and use it for all programs (and then it would be a matter of hooking into the package manager or whatever to setup symlinks on package installation).

As of right now, the best we can do is `firecfg`

[2019-05-29 15:25] chiraag-nataraj commented on #1899
I'll close this for inactivity. @HotelBellaMuerte, please feel free to re-open if you still have this issue.

[2019-05-29 15:25] #1899 closed

[2019-05-29 15:30] chiraag-nataraj opened #2729 "Migrations"
Let's use this to document the proposed migrations (so we don't have a million of these floating around):
[ ] Travis CI -> Github Actions (#2208)
[ ] Wordpress -> Github Pages (#2713)
[ ] Read The Docs (#2090)

[2019-05-29 15:35] chiraag-nataraj commented on #2717
Let's move the discussion over to #2729.

[2019-05-29 15:35] #2717 closed

[2019-05-29 15:35] chiraag-nataraj commented on #2713
Let's move the discussion over to #2729.

[2019-05-29 15:35] #2713 closed

[2019-05-29 15:36] chiraag-nataraj commented on #2090
Let's move the discussion over to #2729.

[2019-05-29 15:36] #2090 closed

[2019-05-29 15:36] chiraag-nataraj commented on #2208
Let's move the discussion over to #2729.

[2019-05-29 15:36] #2208 closed

[2019-05-29 18:00] testbird commented on #1117
Thank you for your explanations. So the idea here may only have been wrongly inspired from that firejail option for apparmor support (a different thing).

The envisioned example use case here was restricting nework access, simply by blocking all network traffic (iptables) on a system by default (changing this requires root) and only allow running "sudo firejail firefox" in the sudoes config to all

[2019-05-29 19:45] chiraag-nataraj commented on #2693
@VPNReyMan Did you try either of the options we gave above?

[2019-05-29 20:10] chiraag-nataraj commented on #2683
I'm going to close this for now, since the OP hasn't replied and a 'resolution' ostensibly has been found. @dandelionred, please feel free to re-open if you have more questions.

[2019-05-29 20:10] #2683 closed

[2019-05-29 20:11] chiraag-nataraj commented on #2670
@Raj2032 What was the output from `echo $PATH`?

[2019-05-29 20:27] chiraag-nataraj commented on #1616
I'm going to mark this with "workaround" and close this for now. @lhernanz, please feel free to re-open if you have more questions or if the workaround does not work for you.

[2019-05-29 20:27] #1616 closed

[2019-05-29 20:31] chiraag-nataraj commented on #2027
I'm going to close this for inactivity. If someone is still having this issue, please feel free to re-open it.

[2019-05-29 20:31] #2027 closed

[2019-05-29 20:33] chiraag-nataraj commented on #2121
Since there isn't _really_ much we can do, the culprit/problem has been found, and the issue has been inactive for a while, I'm going to mark this with "workaround" and close it for now. @btittelbach, please feel free to re-open it if you have more questions.

[2019-05-29 20:33] #2121 closed

[2019-05-29 20:35] chiraag-nataraj commented on #1955
This has been inactive for a while and we know what the culprit is. Marking it workaround and closing for now. @Tritonio, please feel free to re-open if you have more questions.

[2019-05-29 20:35] #1955 closed

[2019-05-29 20:37] chiraag-nataraj commented on #1839
Closing for inactivity. @amarildojr or @Sector14, please feel free to re-open and provide more info to help us figure out how we can fix this.

[2019-05-29 20:37] #1839 closed

[2019-05-29 20:38] chiraag-nataraj commented on #1741
@eevee, is this still an issue for you?

[2019-05-29 20:39] chiraag-nataraj commented on #1625
Closing for inactivity. @WarDog3, please feel free to re-open if this is still an issue for you.

[2019-05-29 20:39] #1625 closed

[2019-05-29 20:41] chiraag-nataraj commented on #1730
@badpenguin never responded to the request for more information. @Real-Gecko, seems like your issue was resolved. @akontsevich, I will be closing this issue due to inactivity, but please feel free to re-open if this is still not working for you.

[2019-05-29 20:41] #1730 closed

[2019-05-30 00:27] Edu4rdSHL commented on #2726
AppArmor parser error for /etc/apparmor.d/firejail-default in /etc/apparmor.d/firejail-default at line 164: syntax error, unexpected TOK_CLOSE, expecting TOK_END_OF_RULE

[2019-05-30 04:28] Real-Gecko commented on #1730
Yeah, I can confirm it works with 0.9.58.2. Thanks!

[2019-05-30 08:48] jose1711 opened #2730 "Provide template for profile creation"
It would be great if a template exists one could use for new profile creation - something that has basically everything disabled and provides an easy starting point with comments to tune it.

[2019-05-30 08:51] reinerh commented on #2718
@smitsohu Was there already a reply regarding CVE number?

[2019-05-30 09:24] rusty-snake commented on #2730
@jose1711 https://gist.github.com/rusty-snake/018ae7c672f15bb45f10eb7626d2da19
I will update it in the next hours to my lastest one.

[2019-05-30 09:25] jose1711 opened #2731 "Profiles for Adobe products missing"
Adobe products are known widely to have many (some serious) security issues: https://www.cvedetails.com/product-list/product_type-a/firstchar-A/vendor_id-0/page-1/products-by-name.html?sha=c96eb5386cf7b8259d58e0a5b92ce54b612a9989&order=3&trc=2403

Therefore I believe having profiles for Adobe reader (discontinued by may still be useful when features like form-filling is required), standalone flash

[2019-05-30 09:30] jose1711 commented on #2730
thank you. could it become part of the repository? maybe `contrib/`?

[2019-05-30 10:06] rusty-snake commented on #1139
* Adobe reader
* standalone flashplayer
* Adobe AIR
 Requested in #2731 by @jose1711

[2019-05-30 10:07] rusty-snake commented on #2731
Moved to #1139.
@jose1711 please use the issue above for profile request in the future.

[2019-05-30 10:07] #2731 closed

[2019-05-30 10:26] jose1711 commented on #1139
please add `autotrace` - it has a high number of CVE's assigned (https://www.cvedetails.com/vulnerability-list/vendor_id-12987/product_id-26551/year-2017/opov-1/Autotrace-Project-Autotrace.html)

[2019-05-30 10:31] smitsohu commented on #2718
@reinerh We have no number assigned yet.

Yes, I used the webform. I think I'm going to ask if there is something we can do on our end to speed up the process.

[2019-05-30 11:58] chiraag-nataraj commented on #2668
@t4777sd, I'm going to go ahead and close this for now since we don't have enough info to proceed. Please feel free to re-open this with more info if/when you get the time.

[2019-05-30 11:58] #2668 closed

[2019-05-30 12:22] netblue30 commented on #2730
@rusty-snake

Make a etc/templates directory on main, and put them there. I am thinking of including them in the source archives and installing them in /usr/share/doc/firejail directory.

[2019-05-30 12:27] netblue30 commented on #2729
I would say let's start the Wiki! I'll do some reading about it.

[2019-05-30 12:41] netblue30 commented on #2718
@startx2017 started porting, we will have a LTS release by the end of the week with or without CVE.

[2019-05-30 12:41] cokeflash commented on #2706
Not working:

firejail --ignore=private-bin --profile=/etc/firejail/torbrowser.profile /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser

Working:
firejail --noprofile /mnt/tor-browser-tmpfs/tor_browser/Browser/start-tor-browser

Do I edit this line
private-bin bash,cp,dirname,env,expr,file,getconf,gpg,grep,id,ln,mkdir,python*,readlink,rm,sed,sh,tail,test,tor-browser-en,torbrowser-launc

[2019-05-30 12:57] rusty-snake commented on #2706
@cokeflash can you then try uncomment line for line and try after every uncomment (don't forget to save the file aber uncommenting).

[2019-05-30 13:03] rusty-snake commented on #2730
@netblue30 What do you mean with "main"?

[2019-05-30 13:06] jose1711 commented on #2730
My understanding is that main == master branch

[2019-05-30 15:06] netblue30 commented on #2730
Yes, here on github on the official master branch source code.

[2019-05-30 15:21] cokeflash commented on #2706
shell none is prevent torbrowser to start with FireJail.

'shell none'

What to do? Remove it? Or edit it?

[2019-05-30 15:22] reinerh commented on #2718
(FYI a backported fix is in Debian unstable since yesterday, together with a fix for #2401; and it has been unblocked for migration to Buster.)

[2019-05-30 15:33] rusty-snake commented on #2730
cb98aea

[2019-05-30 15:35] rusty-snake commented on #2706
@cokeflash then remove `shell none` from tor-browser.profile or comment it.

PS: Some else issue with starting tor browser or can we close?

[2019-05-30 15:38] cokeflash commented on #2706
'SOLVED'

...is working :-) Thanks for your help.

[2019-05-30 15:38] #2706 closed

[2019-05-30 16:34] Vincent43 commented on #2726
What if you run `firejail --ignore=apparmor obs`?

[2019-05-30 19:13] rusty-snake commented on #2728
https://github.com/netblue30/firejail/issues/1139#issuecomment-306063071

[2019-05-30 19:24] rusty-snake commented on #2728
I think this is answered, @garywill  if not or you have future questions, feel free to reopen.

[2019-05-30 19:24] #2728 closed

[2019-05-30 19:59] chiraag-nataraj commented on #2707
#2728 and/or #2721 may be helpful for you @rezohs1234.

[2019-05-30 19:59] chiraag-nataraj commented on #2693
@VPNReyMan I'm going to close this for now due to inactivity. If you have a chance to try our suggestions and report back, please feel free to re-open this.

[2019-05-30 19:59] #2693 closed

[2019-05-31 02:17] Fred-Barclay commented on #2729
- [ ] GitHub -> GitLab? :stuck_out_tongue_winking_eye:

*Just kidding of course -- I am a big fan of GitLab but I'm not seriously suggesting this.*

[2019-05-31 02:32] Fred-Barclay commented on #1139
@jose1711 this autotrace? https://github.com/autotrace/autotrace

[2019-05-31 02:46] SkewedZeppelin commented on #1139
@Fred-Barclay that seems to be an unoffical fork of the original
http://autotrace.sourceforge.net/

debian and fedora ship the original
arch aur ships the unofficial
gentoo doesn't ship either

https://blogs.gentoo.org/ago/2017/05/20/autotrace-multiple-vulnerabilities-the-autotrace-nightmare/

[2019-05-31 03:01] Edu4rdSHL commented on #2726
Same result:

[code]

[2019-05-31 03:06] Edu4rdSHL opened #2733 "[question] - running firefox with profile in RAM"
Hello, I know that it isn't a firejail issue and I've opened it because I was searching for resources but sadly I doesn't found anything.

I'm trying to run Firefox profile in RAM using it script:

[code]
What it do is basically put the profile in /dev/shm/firefox-* and symlink $HOME/.mozilla/firefox/profile.xyz to it. I can't get it working still with `noblacklist /dev/shm/firefox-*`, any help wi

[2019-05-31 09:17] smitsohu commented on #2733
You may want to have a look at the `--keep-dev-shm` option. If your Firejail doesn't have it, you will need to upgrade to a newer version.

[2019-05-31 09:25] glitsj16 commented on #2733
@Edu4rdSHL There's a dedicated program for doing what you want called `profile-sync-daemon`. See the [Arch Wiki page](https://wiki.archlinux.org/index.php/Profile-sync-daemon) and the [official repo](https://github.com/graysky2/profile-sync-daemon#installation-from-distro-packages) for more info. It should work with firejail out-of-the-box.

[2019-05-31 12:00] reinerh commented on #2401
This issue got CVE-2019-12499 assigned.

[2019-05-31 12:19] rusty-snake commented on #2661
Maybe something like
[code]

[2019-05-31 12:23] #2290 closed

[2019-05-31 12:25] rusty-snake commented on #2690
@probonopd firejail 0.9.49 is old, have you try it with the lastest firejail version?

[2019-05-31 13:22] chiraag-nataraj commented on #2733
@Edu4rdSHL, why not use a temporary directory under `/tmp/user/$UID`?

[2019-05-31 17:00] Vincent43 commented on #2661
I think it's better to detect if `-fcf-protection` is passed in `CFLAGS`.

[2019-05-31 18:51] reinerh commented on #2401
@netblue30 Can you please update the CVE status page? https://firejail.wordpress.com/download-2/cve-status/

[2019-05-31 18:56] chiraag-nataraj commented on #2729
Honestly @Fred-Barclay, we actually _should_ consider it, in my opinion. But that's a _far_ bigger migration than setting up a wiki or switching any of the stuff listed here...

[2019-05-31 21:36] chiraag-nataraj commented on #2720
@tinmanx, I'm not sure how to proceed from here. If the profile I sent you works, then we can figure out which directive is causing the issue in the stock profile and we can fix it. But I can't do that unless someone else tests the profile...

[2019-05-31 21:37] Vincent43 commented on #2729
We have build community here on github. We have quite a lot more or less active contributors. Moving to different place would mean starting from scratch.

[2019-05-31 21:40] chiraag-nataraj commented on #2729
@Vincent43, yes, that would be the main reason against switching.

[2019-05-31 22:21] chiraag-nataraj commented on #2513
@vorticalbox I'm going to go ahead and close this for now, but please feel free to re-open if you're able to test out our suggestion.

[2019-05-31 22:21] #2513 closed

[2019-05-31 22:28] chiraag-nataraj commented on #2608
@KOLANICH Which version of LO are you using using? Can you try the following profile and see if it works?
`~/.config/firejail/libreoffice.profile`:
[code]
`~/.config/firejail/common.inc`:
[code]

[2019-06-01 12:07] probonopd commented on #2690
Yes:

[code]

[2019-06-01 12:09] tinmanx commented on #2720
@chiraag-nataraj sorry for the late response - i havent been able to log on for a while.

I did the tests right now.  Please see findings below:

I tried to run it with: `firejail keepassxc` but when clicking the link, it gave an error in terminal:
`Launch failed (/usr/sbin/firefox https://www.site.com/)`
and it didnt open.

So i tried with: `firejail --ignore=private-bin keepassxc` and the follow

[2019-06-01 12:10] tinmanx commented on #2720
Is it possible you could also do these tests on your side?

[2019-06-01 13:24] chiraag-nataraj commented on #2720
The profile I posted worked fine when firefox was already open. I suspect you have to tweak the profile a bit. I really don't know what it might take, since I've been on a highly-customized Debian sid/experimental setup for quite some time now (AwesomeWM and manual mimetype configuration if required).

From the looks of it, it's probably something to do with `xdg-open` not having access to its con

[2019-06-01 13:48] tinmanx commented on #2720
@chiraag-nataraj
running `firejail --ignore=private-bin keepassxc` now while having commented out `whitelist ${HOME}/.config/keepassxc` it worked and opened up the link in the same firefox instance.

So knowing this.. what can you do to actually fix this?
Is this profile of keepassxc.profile and commenting out `whitelist ${HOME}/.config/keepassxc` secure?

[2019-06-01 13:59] chiraag-nataraj commented on #2720
Okay, this means you need to figure out which other directories need to be whitelisted for `xdg-open` to work. I can't help you there since I don't use that mechanism for opening programs (as I mentioned earlier).

Not _as_ secure as whitelisting _just_ the specific directories it needs to function. Again, if you care about security, keep the profile as-is and just copy-paste the URL.

[2019-06-01 16:28] tinmanx commented on #2720
@chiraag-nataraj if you dont use the first whitelist..does it by default allow all directories?

if this is the case, how was it working before the firefox upgrade? was it less secure previously??

[2019-06-01 16:41] chiraag-nataraj commented on #2720
Yes. If there are no blacklists or whitelists (and my profiles tend to take a whitelist approach), then all directories in `~` (your home directory) are able to be accessed.

I never had a setup where clicking on a link worked without relaxing many settings on the sandbox. Looking at the `keepassxc` profile provided in this repository (**not** the one I posted above), it seems it allows `keepassxc

[2019-06-01 16:42] Edu4rdSHL commented on #2733
Thanks to all. @glitsj16 profile-sync-daemon worked as expected.

[2019-06-01 16:42] #2733 closed

[2019-06-01 17:08] curiosity-seeker opened #2738 "[Enhancement] syscall script"
There is a link on the homepage of this project to a script on https://github.com/avilum/syscalls to get a list a syscalls.

I suggest an improved and more useful script:
[code]
It produces a comma-delimited line with an alphabetized and deduplicated list of the necessary syscalls ready to be copied over to a profile. I suggest to add it as a helper script to this repo.

Feel free to modify it if

[2019-06-01 17:22] chiraag-nataraj commented on #2738
I used `shellcheck` to clean it up a bit:
[code]
(mostly just explicitly escaping backslashes, but quoting in a couple of places).

[2019-06-01 17:46] curiosity-seeker commented on #2738
Thanks! I wasn't aware of `shellcheck`.

I also tried it and it only recommends "Double quote to prevent globbing and word splitting". Escaping the backslashes didn't make a difference for me.

[2019-06-01 17:50] chiraag-nataraj commented on #2738
Hmm...interesting. Maybe a newer version then?

[2019-06-01 17:53] curiosity-seeker commented on #2738
It's shellcheck 0.6.0-106 on Manjaro.

[2019-06-01 18:08] chiraag-nataraj commented on #2738
Hmm, I have an older version (0.5.0 on Debian sid/experimental). That's probably it then.

[2019-06-02 08:00] rusty-snake commented on #2730
What about
[code]

[2019-06-02 09:36] curiosity-seeker commented on #2738
Here's an improved version which checks for an input argument:

[code]

[2019-06-02 12:09] topimiettinen commented on #2738
Wouldn't it be more robust to use `strace -c` rather than parsing normal strace output? It produces this kind of summary:
[code]

[2019-06-02 12:14] jose1711 opened #2739 "Add automated CI checks and git hooks"
It would be nice to have automated checks for things that tend to repeat in new profile submissions:
- header present (with description, persistent globals and local include)
- items sorted inside profile sections
- sections are divided using a single '\n' character
- `firecfg.section`, `disable-programs.inc` and similar files being sorted

[2019-06-02 14:13] rusty-snake commented on #2739
I had a similar idea a few days ago and started to write it in rust, but I'm actually thinking if it's still necessary if you prominently recommend the profile.template for it (e.g. use GH pull request templates, CONTRIBUTIN.md, manpage (see my comment in the add template issue)), because it will never be possible to check it with human inteliegenz (e.g. `include disable-xdg.inc` in an image-viewe

[2019-06-02 16:25] curiosity-seeker commented on #2738
@topimiettinen : I guess, you're right. This could be done this way:

[code]

[2019-06-02 16:47] curiosity-seeker commented on #2738
Actually this can be simplified:
[code]

[2019-06-02 20:07] jose1711 commented on #2739
I agree for the most part - I wonder though how is this GH pull request template supposed to work. Is it difficult to implement?

[2019-06-03 01:37] Fred-Barclay commented on #1139
@qazip can you try this profile for jerry-chess?
[code]

[2019-06-03 05:24] carnil commented on #2718
[CVE-2019-12589](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12589) was assigned for this issue.

[2019-06-03 10:03] rusty-snake commented on #2739
Its a issue template but for pull request, see https://help.github.com/en/articles/about-issue-and-pull-request-templates.

[2019-06-03 11:36] chiraag-nataraj opened #2743 "[enhancement] Print better error in the case of ownership issues"
If I use `private-bin` to whitelist a binary in `/usr/bin` which happens to have the wrong owner (for example, my user), `firejail` prints a very opaque and unhelpful error. The context this came up in is `protonmail-bridge`, which (for some godforsaken reason) installed with _my user_ as the owner (going to report that as a bug to them). This meant that `private-bin` failed (as it should), but th

[2019-06-03 11:50] rusty-snake commented on #2743
If we want to print better error messages, we can also fix this:
[code]

[2019-06-03 16:31] KOLANICH opened #2744 "Firefox doesn't work with W^X enforced by firejail"

[2019-06-03 16:35] KOLANICH commented on #2608
With the latest firejail it doesn't even start  with the preshipped profiles. The version of LO is the latest one (`6.2.3`) from Ubuntu repos (`universe`). Your profiles don't help too. Unfortunately currently I have no time to experiment with this.

[2019-06-03 17:14] chiraag-nataraj commented on #2744
Which version of Firefox? Which version of firejail?

[2019-06-03 17:39] Vincent43 commented on #2744
This is expected. browsers aren't compatible with W^X.

[2019-06-03 18:39] KOLANICH commented on #2744
https://jandemooij.nl/blog/2015/12/29/wx-jit-code-enabled-in-firefox/

[2019-06-03 18:40] KOLANICH commented on #2744
The latest one in Ubuntu repo.

The one built today from git.

[2019-06-03 18:42] chiraag-nataraj commented on #2744
Okay, but GTK+ and Qt don't like W^X. At all. There's a lot more to this than just the JIT compiler.

[2019-06-03 18:46] chiraag-nataraj commented on #2744
It doesn't look like we enable W^X for Firefox in the profiles we distribute, so I'm confused as to why you opened this issue, to be honest. The fact that Firefox (and pretty much _every_ graphical program) doesn't work with W^X is a problem to file in _their_ bug trackers, not on here.

This would be more understandable if we mistakenly enabled W^X for Firefox or something, but we're not doing th

[2019-06-03 18:47] chiraag-nataraj commented on #2744
I'm going to go ahead and close this since there isn't much we can do about it from our end. Feel free to re-open if I misunderstood something.

[2019-06-03 18:47] #2744 closed

[2019-06-03 19:35] KOLANICH commented on #2744
Definitely. But we need to track compatibility issues on our side too. Maybe a special issue which head post is updated by a bot reading specially formatted comments in profiles?

Yeah, if it is a case, this is surely their bugs.

[2019-06-03 19:42] chiraag-nataraj commented on #2744
This isn't a compatibility issue, though. There's literally nothing we can do from our end besides disabling the flag for that profile. File bugs upstream and see if they'll change things. I highly suspect they won't :/

[2019-06-03 19:59] Vincent43 commented on #2744
That article is quite dated so it's hard to figure what current status is. [Someone in comments](https://jandemooij.nl/blog/2015/12/29/wx-jit-code-enabled-in-firefox/#comment-2432767666) stated that you have to build firefox with `--disable-ion` (is it still valid?) but the cost is quite high. There are also [some jit related options in config](https://en.wikibooks.org/wiki/Grsecurity/Application-

[2019-06-03 20:05] SkewedZeppelin commented on #2744
@Vincent43

https://searchfox.org/mozilla-central/source/js/src/devtools/automation/variants/nojit
seems so, who knows if it actually works

[2019-06-03 20:31] KOLANICH commented on #2744
https://bugzilla.mozilla.org/show_bug.cgi?id=1338207
https://bugzilla.mozilla.org/show_bug.cgi?id=1371877

[2019-06-04 01:00] TheDarkTrumpet commented on #2730
I think it'd also benefit to put this in the CONTRIB, at least as a link.  I think most people look at the contrib over the man pages when encountering programs.  That's how I came about adding to the project.

[2019-06-04 01:22] TheDarkTrumpet commented on #2729
Mentioned this in the pull request, but also in #2730.  I'd make use of the readme/contrib on top of the wiki, but only as the table of contents so to speak.  So something along these lines:

Wiki Base: Table of contents (Use, command arguments, profiles, firecfg, etc all linked off into separate pages).  Goal of the TOC (or readme, or contrib) is to be concise and fit it all in one screen.  It ne

[2019-06-04 12:44] chiraag-nataraj commented on #2608
@KOLANICH, if you don't have time to help debug this, I'm not sure what we can do, since the profile seems to work for other people.

The general procedure to debug it would be to:

* Look at the logs to see if it's a seccomp or apparmor violation
* Disable directives until it starts and then figure out which directive or combination of directives break the profile

Once we have both of those step

[2019-06-04 14:16] chiraag-nataraj commented on #2605
@viq Did @glitsj16's suggestion work?

[2019-06-04 16:07] qazip commented on #1139
@Fred-Barclay, I no longer use jerry-chess. But I'll see if I can test it sometime this week!

[2019-06-04 18:38] jose1711 opened #2747 "alpine mail client terminates if run using firejail"
To reproduce:
- install alpine (https://repo.or.cz/alpine.git/bundles)
- run `firejail --noprofile alpine`
- do not do anything, just wait
- alpine will terminate with `Parent is shutting down, bye...` message

I've seen this with Raspbian and Arch Linux

[2019-06-04 18:47] chiraag-nataraj commented on #2747
Here's a debug log running `alpine` with debugging level 60.
[alpine-debug.txt](https://github.com/netblue30/firejail/files/3254043/alpine-debug.txt)

[2019-06-04 18:59] rusty-snake commented on #2739
With this script you get alphabetical sorted `private-etc` and `private-bin` lines. I will add support for automaticaly fixing profile.
[code]

[2019-06-04 19:20] jose1711 commented on #2739
note that `[12:-1] ` means *excluding* the last character. not sure if you want that.

[2019-06-04 19:52] rusty-snake commented on #2739
@jose1711 thanks. The last character is `\n`. I test this code, it works.

[2019-06-04 20:10] jose1711 commented on #2739
ok, but what if `private-etc` is the last line and is not terminated with `\n`? like so:
`echo -n 'private-etc foo,bar' > profile`
then I get this:
[code]

[2019-06-04 20:36] wellsaid commented on #2605
I can confirm the same problem on my system.
I have tried @glitsj16 suggestion by adding xdg-open to /etc/firejail/slack.profile
[code]
But it didn't solved the problem for me

[2019-06-05 00:46] glitsj16 commented on #2605
After some experimenting I could open slack's login in an `already running firefox` by adding the below in /etc/firejail/slack.local (or ~/.config/firejail/slack.local). Making it `start` a new browser session would require crippling the profile to the point of `insecurity`, which is obviously advised against.

[code]

As one can deduce from the added comments, this will take some adjusting when y

[2019-06-05 01:35] netblue30 commented on #2729
Wiki is up! It is set to allow only collaborators to write directly, I assume it goes through the regular pull request process for everybody else. Should we open it for everybody?

[2019-06-05 02:11] chiraag-nataraj commented on #2605
Honestly, it feels better to run it unsandboxed just for initial login if it means we can tighten the sandbox for normal usage.

[2019-06-05 02:34] TheDarkTrumpet commented on #2729
It looks like it's open for everyone right now, or I'm able to write to it.  I'm just a collaborator, so it looks like they too can add.  Added https://github.com/netblue30/firejail/wiki/Creating-Profiles based off my recent contribution.

[2019-06-05 03:42] netblue30 commented on #2729
Yes, all open!

[2019-06-05 10:07] rusty-snake commented on #2729
Since I couldn't find a discuss function in the wiki, I suggest to use a separate discuss issue for each wiki page. Maybe with a new label like "wiki discussion".

[2019-06-05 10:12] chiraag-nataraj commented on #2729
Done! I called it `wiki` for simplicity.

[2019-06-05 10:24] rusty-snake opened #2748 "Wiki: Creating Profiles"
Issue for discussions about https://github.com/netblue30/firejail/wiki/Creating-Profiles

[2019-06-05 12:04] chiraag-nataraj commented on #2729
@rusty-snake Good idea! Let's make a habit of creating the issue and linking to it from the ToC/main page when we create the page.

[2019-06-05 12:12] chiraag-nataraj opened #2749 "Wiki: Home"
Issue for discussing non-ToC-related changes to the home page (table of contents updates are trivial).

[2019-06-05 14:27] chiraag-nataraj commented on #2749
Anything else we want to add to the homepage? I feel like it's fairly complete at this point heh.

[2019-06-05 18:32] caioau opened #2750 "[suggestion] allow ssh to use netcat to connect to Tor onion services"
Hi, I'm very happy with firejail, keep the good work!

I have an idea to improve the ssh profile

I tried to sshing my home box via Tor Onion service (because my ISP is behind a NAT) but the nc (netcat) has not allowed, I'm with firejail version 0.9.61 (compiled myself) on Ubuntu 18.04, I executed `ssh home` there was an permission denied to run nc, look at my `.ssh/config` file:

[code]

so it wi

[2019-06-05 18:37] rusty-snake commented on #2750
I would prever to only add a comment like:
[code]

[2019-06-05 19:23] jose1711 commented on #2748
I'd welcome some tips such as using `strace` to trace syscalls or touched files/directories, auditing profiles or using `jail_prober.py`

[2019-06-05 19:26] rusty-snake commented on #2748
@jose1711 if you can, start writing. :wink:

[2019-06-05 19:27] jose1711 commented on #2748
i wish i had that knowledge..

[2019-06-06 08:31] mikkol554 opened #2752 "Run Firefox on remote X11 server without X11 forwarding"
Dears,

I run the Xming X11 server on a Windows computer and have Firefox installed in another Fedora computer in the same network. I normally execute graphical Linux applications by prepending `DISPLAY=<xming host address>:0.0` to `<command name>`. In some cases, I may need to use dbus-launcher to get things working (as with `gnome-shell`, for example).

I do not use SSH X11 forwarding but the Xm

[2019-06-06 08:57] rusty-snake commented on #2752
@mikkol554 works it with `firejail --noprofile firefox`?
PS: what firejail version do you use? `firejail --version`

[2019-06-06 09:04] mikkol554 commented on #2752
`DISPLAY=10.168.0.53:0.0 firejail --noprofile firefox`

`firejail --version`

[2019-06-06 10:12] smitsohu commented on #2752
If you don't need audio, try to add a `nosound` option.

If `pulseaudio --version` returns 10 or higher, you can as an alternative also try the `noautopulse` option. That should work as well and keep the sound going.

[2019-06-06 10:14] mikkol554 commented on #2752
Thank you. Adding `--nosound` does the trick. It runs smoothly on the remote X server without SSH tunneling.

[2019-06-06 10:14] #2752 closed

[2019-06-06 19:49] rusty-snake commented on #2750
Done: e7ba153

[2019-06-06 19:49] #2750 closed

[2019-06-07 13:49] rusty-snake commented on #2739
@jose1711 Most profiles end with a newline, but you're right that we have to consider the missing of it.
***
New version, with support for automatic fixing  several profiles.
https://gist.github.com/rusty-snake/a1010a3daf3c54e93dfe03f2f5ce3d96

Issues:
  * "[ Fixed ] {filename}" is always printed, even if nothing was fixed.
  * All files will be rewritten.
  * Names starting with two uppercase let

[2019-06-07 16:16] probonopd commented on #2690
Why is this? We also have the same issue with PhotoGIMP now.

[2019-06-07 20:13] rusty-snake commented on #2690
[code]
OK:
=> `/run/firejail/appimage/.appimage-XXXXX` is owned by root and has 700.

[2019-06-08 15:16] reinerh commented on #2320
@Fred-Barclay I couldn't find your email address (you seem to be using a protected one for commits), so I'll ping you here. :-)

I noticed that in current master there are test failures in your gitlab CI pipeline (while building for fedora).
I like that such things can be noticed, so I thought about creating a similar pipeline on Debian's Gitlab instance (salsa.debian.org), that runs additional De

[2019-06-08 15:24] reinerh commented on #2320
Any maybe also how you set up the mirroring? :)

[2019-06-08 18:00] netblue30 commented on #2718
LTS version also released, CVE status page updated - https://firejail.wordpress.com/download-2/cve-status/

[2019-06-08 18:00] #2718 closed

[2019-06-08 18:01] netblue30 commented on #2401
LTS version also released, CVE status page updated - https://firejail.wordpress.com/download-2/cve-status/

[2019-06-08 18:01] #2401 closed

[2019-06-08 18:09] netblue30 commented on #2738
@curiosity-seeker - we can add the script in contrib directory, send a pull request! All the files there are installed in /usr/lib/firejail directory.

[2019-06-08 18:18] netblue30 commented on #2730
All of them are installed in /usr/share/doc/firejail. It looks something like this:
[code]

[2019-06-08 18:18] #2730 closed

[2019-06-08 19:44] probonopd commented on #2690
Apparently the permissions for non-root users are missing in the squashfs image. What is interesting, though, is that the native AppImage implementation (using squashfuse) can still use those, but Firejail cannot. Is this because Firejail uses the kernel to mount the squashfs image?

[2019-06-08 21:04] rusty-snake commented on #2383
@aberja is this still an issue and if so, is anything brocken or are this only strange error mesages? Maybe `noautopulse` can fix this (IDK).

[2019-06-09 12:55] curiosity-seeker commented on #2738
Thanks! Done!

[2019-06-09 12:55] #2738 closed

[2019-06-10 01:04] Fred-Barclay commented on #2320
@reinerh Sorry it's been a while but I'll try and remember. Also are you on GitLab? I can just add you to the repo there so you can poke around in the settings if you need.

The first method at https://docs.gitlab.com/ee/ci/ci_cd_for_external_repos/github_integration.html looks pretty much like what I remember. If this works for you, then GitLab will setup the mirror automatically.

I don't recall

[2019-06-10 19:49] netblue30 opened #2755 "Wiki: Sandboxing Binary Software"
Issue for discussions about https://github.com/netblue30/firejail/wiki/Sandboxing-Binary-Software

[2019-06-10 19:58] rmrgh opened #2758 "Firejail does not work with a custom hosts file"
When running firejail with a custom hosts file:
`$ firejail --noprofile --private --hosts-file=hosts firefox -no-remote`
it reports the following errors:
[code]

My hosts file contains only:
[code]

Even with an empty file, it report the same errors.

**Firejail Version:** 0.9.58
**Linux Distribution:** NixOS 19.03

[2019-06-11 07:01] rusty-snake commented on #2758
Can't reproduce with firejail 0.9.61 under Fedora 29.
[code]

[2019-06-11 11:54] chiraag-nataraj commented on #2758
I even just tried `firejail --hosts-file=/dev/null` and it worked.

[2019-06-11 12:37] netblue30 commented on #2758
There could be two reasons it to fail: if the host file is a symbolic link, or if the user doesn't have read access to the file. Also, try to put a full path for the host file, something like "--host-file=/home/username/hostfile". Works fine on 0.9.58, that code didn't change in ages.

[2019-06-11 13:14] rmrgh commented on #2758
I've tried with a VoidLinux installation with firejail version 0.9.60 and it worked just fine. I think it's something specific for NixOS since the `/etc/hosts` present on it is a symbolic link and can't be directly manipulated (readonly).

[2019-06-11 14:03] rmrgh commented on #2758
I've tested on my VoidLinux installation by moving the `/etc/hosts` file to a different location and symblinking it back to `/etc/hosts` and the same error showed up.

[2019-06-11 15:13] jpeisenbarth opened #2760 "Spotify on Fedora fails to open (no sse2 support)"
Hello,

I'm on Fedora 30, and when I run `firejail spotify` a window opens with the message "Cannot run on this CPU (no sse2 support)"

Versions :

[code]

Spotify from RPMFusion `Spotify version 1.1.5.153.gf614956d, Copyright (c) 2019, Spotify Ltd`

Execution output :

[code]
and the window with "Cannot run on this CPU (no sse2 support)"

`firejail --noprofile spotify` runs flawlessly though

[2019-06-11 15:19] rusty-snake commented on #2760
@jpeisenbarth can you try `firejail --ignore=private-bin spotify`

[2019-06-11 15:59] jpeisenbarth commented on #2760
@rusty-snake Yup it works ! I guess that if I add the commands (rm, touch, cat, grep) in the profile (private-bin line) it will also work right ?

[2019-06-11 16:41] rusty-snake commented on #2760
@jpeisenbarth yes, try `firejail --private-bin=rm,touch,cat,grep,tclsh --private-etc=alsa,asound.conf,drirc,openal spotify`.
 If it works try only with `--private-bin` and onyl with `--private-etc`.

[2019-06-11 22:57] tinmanx commented on #2720
@chiraag-nataraj i appreciate your input and you make great points, however this is not really a solution to the actual problem.  Knowing that `net none` provides network block is enough for most users.  This again shouldn't be an excuse to render the link-launcher useless and tedious.

Also, saying that xdg-open is somehow the cause of it being blocked wouldn't make sense, because this has to do

[2019-06-12 07:58] tinmanx opened #2761 "Versions dont look right"
![2019-06-12](https://user-images.githubusercontent.com/46136520/59333427-96b91200-8cf8-11e9-875e-064b507f1e11.png)
is this correct? why is the latest one a lower version than 0.9.60 ?

[2019-06-12 08:12] rusty-snake commented on #2761
@tinmanx because its the LTS version.
@netblue30 is the missing of `-LTS` wanted?

[2019-06-12 09:04] jpeisenbarth commented on #2760
@rusty-snake
`firejail --private-bin=rm,touch,cat,grep,tclsh,find,head,dirname --private-etc=alsa,asound.conf,drirc,openal spotify` works (i needed to add find,head,dirname in the private-bin)

With only `--private-etc` it doesn't work (same "command not found" as my first post)

With only `--private-bin=rm,touch,cat,grep,tclsh,find,head,dirname` it does work, I don't see any changes between `--pr

[2019-06-12 09:07] rusty-snake commented on #1139
gnome-online-miners (OP) cannot be jailed by firejail because it has only binaries in libexec that are started via dbus.

[2019-06-12 09:45] DocKDE opened #2762 "Symlink for newsboat"
Greetings!

It seems, there have been several problems with symlinks already but even after consulting those and the man page, I wasn't able to figure out my problem so here goes. I want to run newsboat in firejail, however the config files stored in `~/.newsboat` reside in a separate folder `~/Documents/dotfiles/.newsboat` for which I created a symlink.
In the config file I thus simpy added the l

[2019-06-12 09:46] rusty-snake commented on #2760
Reason: https://github.com/netblue30/firejail/blob/72494481b2cb958badbb49b118f76a5d795a62fb/etc/spotify.profile#L24
In general:
[code]

You are welcome to open a PR to add this to private-bin in spotify.profile

[2019-06-12 09:55] rusty-snake commented on #2762
@DocKDE can you paste your profile.
Has you add `noblacklist ${DOCUMENTS}`?

[2019-06-12 10:08] DocKDE commented on #2762
Huh, that fixed it. I take it for some reason non-blacklisting the parent folder is necessary in addition to the subfolder which I already took care of?
Anyway thanks for your help!

[2019-06-12 10:16] #2762 closed

[2019-06-12 11:05] garywill opened #2763 "Using --overlay loses user groups"
Hello firejail developers,

I want to use bumblebee `optirun` in firejail with `--overlay`.
Without `--overlay` it works.
With `--overlay` user's groups other than `users` are gone, causing bumblebee unusable. Even `sudo firejail --join` to join it and `usermod -aG bumblebee`. In `/etc/groups` shows my user name, but user wasn't really added into that group.

Any solutions?
Thank in advance.

[2019-06-12 11:34] jpeisenbarth commented on #2760
Yes, I will open a PR :)

I just noticed another bug, the radio doesn't work with this profile.
If I comment the line `private-etc` in the profile it works, I guess something is missing here also but I don't know how to find it (I already tested by adding `alsa,asound.conf,drirc,openal`, but the radio is still not working)
The images load well also if I comment the `private-etc` line.

[2019-06-12 11:45] rusty-snake commented on #2760
`firejail --trace spotify 2>&1 | grep "/etc"`

[2019-06-12 11:57] jpeisenbarth commented on #2760
A window opens with `You havn't write access to 48:head:exec /usr/local/bin/head:0
47:find:fopen /proc/filesystems:0x55b843402290, problems ahead.` and firejail exits

[2019-06-12 12:32] rusty-snake commented on #2760
No Idea.
You add `rm,touch,cat,grep,tclsh,find,head,dirname` to spotify.profile?
`firejail --trace spotify 2>&1` (without grep)
`firejail --trace spotify` (without merge stdout and stderr)
`firejail --trace /bin/spotify` (or where ever you install spotify)

[2019-06-12 13:06] jpeisenbarth commented on #2760
Yes, `firejail spotify` works, `firejail --trace spotify` does not (literally just adding `--trace`)

The 3 commands you suggest give the same error.

Maybe the execution outpout (stdout + stderr) would be interesting : [firejail_spotify.log](https://github.com/netblue30/firejail/files/3281393/firejail_spotify.log)

Maybe these lines ?
[code]

[2019-06-12 13:30] rusty-snake commented on #2760
Maybe `firejail --noprofile --trace spotify 2>&1 | grep "/etc"` works, if not, I don't have any more ideas.

[2019-06-12 13:38] jpeisenbarth commented on #2760
Nope, it doesn't work :confused:

[2019-06-12 22:45] netblue30 commented on #2761
All fixed, the new tag is 0.9.56,2-LTS. Thanks for the bug.

[2019-06-12 22:45] #2761 closed

[2019-06-13 17:17] clara2g opened #2765 "Steam on Fedora fails to open with firejail"
The error is "glXChooseVisual failed". It works without Firejail so I assume is a Firejail issue.

I'm running up to date Fedora 30 KDE with Firejail 0.9.56 and default Steam profile. My laptop has integrated Intel UHD Graphics 620.

Loving Firejail. Thank you :)

[2019-06-13 17:31] rusty-snake commented on #2765
@clara2g does one of the following work?
`firejail --noprofile steam`
`firejail --ignore=private-etc --ignore=private-dev --ignore=private-tmp steam`

[2019-06-13 17:52] clara2g commented on #2765
@rusty-snake the first one works, the second does not.

[2019-06-13 17:55] rusty-snake commented on #2765
@clara2g OK. can you then comment all lines in your steam.profile and uncomment line for line and try after every uncomment. As an suggestion: start uncommenting with the includes or the options (`caps.drop all` to `shell none`).

[2019-06-13 18:19] clara2g commented on #2765
@rusty-snake is the "include disable-common.inc" line. That's a long file, I will test it tomorrow to find the problem there and post it. Thank you :)

[2019-06-13 18:33] rusty-snake commented on #2765
@clara2g  first check `journalctl -r`.

If you realy try to find something in disable-common, search binary. I thing that is may in one of this sections:
[code]

[2019-06-13 19:29] grizzlyuser opened #2767 "qTox: hangs after launch in Arch Linux due to memory-deny-write-execute"
[code]
Linux Distributions: Arch Linux, Parabola GNU/Linux-libre

`firejail qtox` starts the process, but the main application window doesn't show up.

Works fine if `memory-deny-write-execute` is commented in `/etc/firejail/qtox.profile`. Seems to be related to issue #1803.

The problem didn't exist in the previous release of firejail. As I understood, that was due to addition of `memory-deny-wri

[2019-06-13 19:51] SkewedZeppelin opened #2768 "join-or-start on multi-user systems"
join-or-start breaks programs when currently running under another user.

Example:
- User A logs in, opens a document in LibreOffice
- User B either switches user or connects to shared box like X2Go
- User B tries to open a document in LibreOffice
  - LibreOffice never opens as firejail prevents joining a sandbox by another user

I know firejail has been primarily designed for single-user systems,

[2019-06-13 19:53] #2767 closed

[2019-06-13 19:54] glitsj16 commented on #2767
@grizzlyuser Should be fixed now. Thanks for reporting it!

[2019-06-14 07:57] jose1711 opened #2770 "How to change meaning of novideo and nosound in .local profile?"
Is there a way how to override `nosound` set in the profile? `sound` put into `profile.local` is not working (`line is invalid`)

[2019-06-14 08:24] rusty-snake commented on #2770
`ignore nosound` -> `PROFILE.local`

[2019-06-14 08:40] jose1711 commented on #2770
oh, thank you.

[2019-06-14 08:40] #2770 closed

[2019-06-14 08:46] rusty-snake commented on #2760
@jpeisenbarth you can try `firejail --build spotify`, at the bottom of the output is a private-etc line, after starting with this command you must open the radio.

[2019-06-14 08:51] rusty-snake commented on #2763
Confirming:
[code]

[2019-06-14 09:33] jpeisenbarth commented on #2760
@rusty-snake
This command fails with the same error message in a window (`You havn't write access to 30:head:exec /usr/bin/head:0
29:find:fopen /proc/filesystems:0x5616b1343290, problems ahead.`)

In the output logs there is indeed a `private-etc` line (`private-etc fonts,xdg,gtk-3.0,selinux,system-fips,terminfo,`). I added these elements in the `private-etc` line in the profile but the radio stil

[2019-06-14 09:47] rusty-snake commented on #2760
1. You done it right.
2. Looks like spotify doesn't like it to be debugged.
3. Check `journalctl -r`, if there is nothing helpfull about spotify do 4.
4. Open the PR with private-bin and a comment like `# comment the next line or put 'ignore private-etc' in your spotify.local if you want to use the radio.`

[2019-06-14 10:29] jpeisenbarth commented on #2760
Nothing related to firejail/spotify in the journal :confused:

I will add the comment in the PR then
Than you for your help !

[2019-06-14 12:27] rusty-snake commented on #1139
`firejail --noprofile gnome-boxes` already is broken.
*****
if anyone can confirm that and that above, I would classify gnome-boxes and gnome-online-miners as not "firejailable".

[2019-06-15 03:21] Ryujinra opened #2772 ""private-cache" in aria2c.profile breaks lutris/winetricks installs"
Lutris/winetricks needs to access files it downloads with aria2c to `${HOME}/.cache/winetricks` during installations.

The default aria2c profile contains `private-cache` which prevents lutris from accessing the files after it uses aria2c to download them.

Commenting out `private-cache` fixes the issue. Noblacklisting the winetricks cache folder does not.

[2019-06-15 03:47] #2772 closed

[2019-06-15 03:48] glitsj16 commented on #2772
@Ryujinra Fixed, thanks for reporting this! Feel free to reopen if something is still not working as expected with aria2c.

[2019-06-15 16:07] mirko opened #2776 "Running firejail with --x11 as different user - how?"
I'm trying to run a jailfire'ed GUI (thunderbird) as different user.
In this test scenario ACLs for Xorg are disabled (`xhost +`) so that shouldn't be the issue.
As far as I see the client can't connect to the supposed to be opened server instance.

Any pointers/hints on how to achieve that would be highly appreciated - thanks!

[code]

[2019-06-15 16:30] rusty-snake commented on #2776
why are you trying to firejail thunderbird and using a different user? firejail is for sandboxing and can do that, I don't think it's necessary. If you want a stricter sandbox tighten the firejail profile.

[2019-06-15 18:13] spinnaker1 opened #2777 "How to automatically open PDF viewer firejailed when opening a pdf file?"
How to automatically open the PDF viewer program firejailed when opening (double clicking) a pdf file? Or at least prevent viewing the pdf non firejailed?

[2019-06-15 19:04] glitsj16 commented on #2777
@spinnaker1 Firejail comes with a tool called `firecfg` to automate things like this. It has its own manual page (man firecfg), but there's also more info in the `DESKTOP INTEGRATION` section of man firejail. Creating a symbolic link to /usr/bin/firejail under the name of your PDF viewer program in /usr/local/bin (or any other path that has precedence in your PATH) will start it in a firejail sand

[2019-06-16 10:20] glitsj16 commented on #2506
@curiosity-seeker Using the full seccomp filter worked just fine here on my Arch Linux machines ever since you reported this here. Sadly it `recently stopped working`. I'm not exactly sure if it's caused by kernel or Firefox changes. But around the FF67 update I noticed it. Would you be so kind to confirm/deny if it is still working for you? Just in case it doesn't we should remove or edit the [co

[2019-06-17 09:51] curiosity-seeker opened #2782 "Cannot start any programs anymore"
After updating to the latest git version, I'm unable to start any programs firejailed.

I'm always getting the following error message:

[code]
I guess it's related to [this](https://github.com/netblue30/firejail/commit/dba9dff9c52e436a37c82a72ec82c95bcd9684ce) commit.

[2019-06-17 10:01] rusty-snake commented on #2782
Confirming: 03a92a15 not broken,  dba9dff9 broken. @smitsohu

[2019-06-17 10:02] curiosity-seeker commented on #2506
@glitsj16 : `seccomp` still works for me with the Firefox Developer Edition 68.0b8. I didn't have visible problems with FF 67, either.

However, I had one very weird problem with v. 67: I had been running Pi-Hole on a Raspberry Pi and now AdGuardHome which handles all DNS requests. The disturbing thing was that I saw network requests in its query log which should have been blocked by uBlock Origin

[2019-06-17 10:35] glitsj16 commented on #2506
@curiosity-seeker Thanks for responding. That's `good news`, even though it means I'll have to do some more digging to try and find the reason why it stopped working for me. Too bad FF67 wasn't exactly the smoothest of upgrades for you, I had a few mishaps myself (related to the now fixed custom home page bug). Anyway, thanks again for confirming this still works. At least we can leave the comment

[2019-06-17 11:02] jose1711 commented on #2782
same here on Arch
[code]

[2019-06-17 11:13] clara2g commented on #2765
Hi again, I've digged into this issue, the problem was the line `blacklist /usr/sbin` in the disable-common.inc but that's a whole directory so I created a new include file for all _/usr/sbin/_ files in order to track the specific binary and it is _/usr/sbin/ldconfig_.

I noticed that the Firejail's Steam profile already has a `noblacklist /sbin`. Adding the line `noblacklist /usr/sbin` below fixe

[2019-06-17 11:28] rusty-snake commented on #2765
@clara2g

Your welcome to open a PR, to fix this.

Yes, some very sensitve binary should still be blacklisted (I don't look which), for whitelisting:
https://github.com/netblue30/firejail/blob/0330e04ec3eab46bb4150dbb593ca7d4ff1665cd/etc/steam.profile#L61-L66

[2019-06-17 11:42] smitsohu commented on #2782
It's because /bin is symlinked in Arch (and some other distros).

I'll push a fix soon. Sorry everyone.

[2019-06-17 13:55] curiosity-seeker commented on #2782
Thanks - all is well again!

[2019-06-17 14:09] glitsj16 commented on #2739
@rusty-snake Can't track the item right now (you referred to my fork of your sort.py script), but if you like to integrate sorting caps.{drop,keep} and seccomp.{drop,keep}, go right ahead.  You did a great job creating that tool. The better it can cover this wide array of firejail options, the more changes there are this gets into CI. My personal little profile regression tester caught the first o

[2019-06-17 14:53] rusty-snake commented on #2739
@glitsj16 I already add caps.{drop,keep} and seccomp.{drop,keep}. All supported options are: private-bin, private-etc, private-lib, seccomp.drop, seccomp.keep, caps.drop, caps.keep, protocol.

[2019-06-17 18:11] #2760 closed

[2019-06-18 00:30] tinmanx commented on #2720
@chiraag-nataraj i just found out i am having the same issue and not being able to click links on a jailed cherrytree.profile too. Never used to be like this.
Do you think i should open a bug report on mozilla? Can you please assist? I cant be the only one with this issue.   Il do whatever else that i can to make this work again.

[2019-06-18 07:46] rusty-snake commented on #1139
Last Update: 2017-03-08 (tor-browser 6.x.x)
No Support for Ubuntu 17.10, **18.04**, 18.10, 19.04

`firejail --noprofile gnome-boxes` don't work.

cannot be jailed by firejail because it has only binaries in libexec that are started via dbus.

***

I suggest to close these requests.

[2019-06-18 08:05] chiraag-nataraj commented on #2720
I really don't know. Every new `firefox` release adds so many things (and *changes* so many things) that I'm not entirely even sure what could have done this.

I don't think opening a bug report on Firefox's bugzilla will be useful at all &mdash; they will just redirect you back here an close as NOTABUG.

As I've already mentioned, this functionality requires you to **at the minimum** whitelist yo

[2019-06-18 08:28] rusty-snake commented on #2720
As @SkewedZeppelin already said "67 changes how profiles are handled"

(Source: https://www.ghacks.net/2019/05/21/firefox-67-0-release-information/)

[2019-06-18 08:37] chiraag-nataraj commented on #2720
@rusty-snake Yes, but I'm not quite sure if that's the issue here. In particular, it doesn't explain why the firejail profile that worked for me seems to not work for OP or why this broke in the first place.

The profile handling you're describing is more related to versioning firefox profiles such that each one is associated with a specific firefox channel (release, beta, nightly). It pretty much

[2019-06-18 08:38] rusty-snake commented on #2777
@spinnaker1  since it seems like your questions were answered, I'll go ahead and close this. Feel free to re-open if you have more questions!

[2019-06-18 08:38] #2777 closed

[2019-06-19 00:31] smitsohu commented on #403
Some sysctl settings are per network namespace, `net.ipv4.tcp_syncookies` is affected as well.

[2019-06-19 18:33] msva opened #2786 "private-gnupg?"
Hi there!
I'm trying to customize my chrome profile to allow the usage of `BroswerPass` plugin (integration with `pass` password manager, which, in turn, uses `gpg`).
So, I'd like to create a separate `~/.gnupg` directory for the chrome (to not share my own with chrome's jail), but I see no way to do that now.

The only similar way is using `private=path`, but it is incompatible with `psd` (`profi

[2019-06-19 19:48] chiraag-nataraj commented on #2786
This is actually the exact reason I decided not to use the browser integration, to be honest &mdash; I would have to open up my browser profile way too much.

Right now, I can use `pass` in a way that it never has access to the internet (except for the occasional `pass git push`). With the setup required for `passff` or `browserpass` or whatever, you have to open up your browser profile quite a bi

[2019-06-19 21:23] msva commented on #2786
The idea of separate `~/.gnupg` was about to splitting up the key, used to encrypt chrome subdir from another keys, so, if something will escape chrome sandbox (well, actually, not that I trust Google too), it will not have access to all of my case.
That is also why I don't want that it had access to gpg-agent that runs outside of firejail...

[2019-06-20 08:49] rusty-snake commented on #2786
@msva workaround to have a `private-gnupg` option (not testet with chrome + pass; maybe gpg-agent can make problems, but you already say you don't want to use it):
`firejail --mkdir=${HOME}/.gnupg_chrome --whitelist=${HOME}/.gnupg_chrome --env=GNUPGHOME=${HOME}/.gnupg_chrome chrome`

[2019-06-20 08:49] rusty-snake commented on #2786
@msva workaround to have a `private-gnupg` option (not testet with chrome + pass; maybe gpg-agent can make problems, but you already say you don't want to use it):
`firejail --mkdir=${HOME}/.gnupg_chrome --whitelist=${HOME}/.gnupg_chrome --env=GNUPGHOME=${HOME}/.gnupg_chrome chrome`

[2019-06-20 13:15] glitsj16 opened #2787 "x11 xorg doesn't seem to respect the quiet option"
Recently I started to experiment/test profiles with `--audit` and trying to fix anything reported as `UGLY` or `MAYBE` in .local files. This has proven to work really well. One thing I've noticed though is that `x11 xorg` doesn't seem to follow the `quiet` option. E.g. with dig (which has the quiet option in its profile):

[code]

Explicitly calling the quiet option on a profile that doesn't have

[2019-06-20 21:36] glitsj16 opened #2790 "Thoughts on tightening SSH profiles with nodbus"
After creating a [draft PR](https://github.com/netblue30/firejail/pull/2789) on the topic, I realized the question might get more exposure when filed as an issue. If any of the firejail users have an opinion as too why we can't/shouldn't add `nodbus` to the relevant profiles, that would be very welcome. Apologies for doing things backwards.

Cheers

[2019-06-21 11:30] reinerh opened #2791 "Build issues on Fedora"
Since a few weeks there seem to be build issues on fedora, as can be seen on @Fred-Barclay's CI job: https://gitlab.com/Firejail/firejail_ci/-/jobs/236741950

There are a bunch of errors like this:
[code]

Compiler is gcc 9.1.

[2019-06-21 11:50] reinerh commented on #2791
I'm not able to reproduce it on Debian with gcc 9.1.
I also don't have `-fcf-protection` on the command line. It looks like Fedora is adding it to the compiler flags.

[2019-06-21 11:52] reinerh commented on #2791
Just noticed it is a duplicate of #2661.

[2019-06-21 11:52] #2791 closed

[2019-06-21 13:19] #2661 closed

[2019-06-21 21:44] matu3ba commented on #2748
`find / -maxdepth 10 \( -type f -or -type d \) -name "$1" -print 2> /dev/null`
returns `/usr/local/`
as folder where firejail is installed.
For older versions of firejail `/etc/firejail/` however might be correct.
In `/run/firejail/` temporary instance information are stored.
[Put this in the beginning or to Home]

Profile Locations/Types explains 3 types of profiles, but lists 4.
The difference o

[2019-06-21 21:55] matu3ba commented on #2755
The description is consistent for LTS versions, but not newer versions. These are installed to `/usr/local`.
Maybe it would be nice to mention the user to check, if there does exist a profile yet to restrict the programs data access (for example to the default folder).

[2019-06-21 22:44] matu3ba commented on #2579
@KOLANICH Please refer your firejail version, if you claim otherwise.
This should be closed due to technical reasons otherwise as explained in #1956.

[2019-06-21 22:59] matu3ba commented on #2446
@FOSSONLY Please check the wiki on https://github.com/netblue30/firejail/wiki/Sandboxing-Binary-Software or give input to discussion at the wiki on #2748, #2749, #2755. Will link suggestion into the wiki discussion.
Guess this can be closed then.

[2019-06-21 23:10] matu3ba commented on #2212
@juxi500 Please provide feedback.
Otherwise this should be closed.

[2019-06-21 23:24] matu3ba commented on #2434
@BARNWEY Could you provide feedback?
Otherwise this can be probably closed.

[2019-06-21 23:32] matu3ba commented on #1606
@chiraag-nataraj For me it works, also without --async-dns. Should be closed.

[2019-06-21 23:59] #1606 closed

[2019-06-22 00:12] chiraag-nataraj commented on #2787
Seems like those statements aren't inside a `if(arg_debug)`, so it seems like the intentions is for them to always be printed? I suppose that's up for debate though heh.

[2019-06-22 00:18] matu3ba commented on #1385
@netblue30 Reminder to put #1385 into [FAQ](https://firejail.wordpress.com/support/).

[2019-06-22 00:21] chiraag-nataraj commented on #1385
@matu3ba Or, we can put it in the Wiki! Actually, we could transition the FAQ to the Wiki, if that's okay with @netblue30? That way, the maintenance burden isn't just on one person :)

[2019-06-22 00:22] chiraag-nataraj commented on #2729
@netblue30 How would you feel about transitioning the FAQ on the WordPress site to a page on the Wiki? That way, the maintenance burden isn't just on one person :)

[2019-06-22 00:41] matu3ba commented on #1235
@chiraag-nataraj What did you want to run on that profile? Another shell?
I am not sure, if using the same folder as the profile is the best example (since profiles should be in `.config/firejail`).
Check #2735 and #1569.
If I am not mistaken, your blacklist overwrites the noblacklist from before resulting in no access besides the HOME and seeing folder structure below.

[2019-06-22 01:01] matu3ba commented on #1385
@chiraag-nataraj Sure. Could you ask netblue30 to give me Collaborator Access?
Closing and (nicely) tagging issues would be much easier.

[2019-06-22 01:07] chiraag-nataraj commented on #1385
@matu3ba I believe the wiki is open for all to edit? But please follow the directions on the home page of the wiki for adding new pages and we can take it from there :slightly_smiling_face:

[2019-06-22 01:12] matu3ba opened #2792 "Wiki: Frequently Asked Questions"
The text on [support/FAQ](https://firejail.wordpress.com/support/) is an ideal candidate to for the wiki.

Edit:

New FAQ page here: https://github.com/netblue30/firejail/wiki/Frequently-Asked-Questions

[2019-06-22 01:14] matu3ba commented on #1385
Closed and refined in #2792

[2019-06-22 01:17] matu3ba commented on #2792
content to add for FAQ: #1385, #2046, #2387

[2019-06-22 01:24] matu3ba commented on #2792
(keyword "help" and "tip", searching for open issues)
Tips to add for FAQ: #404, #1652
GUI stuff: #2707

[2019-06-22 01:44] glitsj16 commented on #2787
@chiraag-nataraj That indeed seems the intention, which I find counterintuitive in the case of `quiet`. I'll experiment with `(arg_debug)`, `(arg_quiet)` etcetera in the [code](https://github.com/netblue30/firejail/blob/master/src/firejail/x11.c) and try not to break anything.

[2019-06-22 02:49] laniakea64 opened #2793 "Disable firetunnel support at build time?"
Does such build-time option exist?  If not, could you please add it?

[2019-06-22 03:16] laniakea64 commented on #1235
(@matu3ba although I'm not @chiraag-nataraj , I am the original reporter and the author of the profile in the original description, so I'll reply to your comment anyway.)

Memory is a bit fuzzy now but I believe it stemmed from a generic attempt to work around https://github.com/netblue30/firejail/issues/1234 (now fixed).

Location of the profile file is immaterial.  Same issue occurs on latest fi

[2019-06-22 04:18] glitsj16 commented on #2793
@laniakea64 Firetunnel isn't part of firejail, and has its own [repository](https://github.com/netblue30/firetunnel). Does your OS/distribution offer firetunnel in a firejail package?

[2019-06-22 05:10] laniakea64 commented on #2793
Sorry, maybe I wasn't quite clear.

Thanks but was already aware of this :slightly_smiling_face: By "firetunnel support" I mean whatever this statement in [firejail 0.9.56 changelog](https://firejail.wordpress.com/download-2/release-notes/) is referring to -
[code]

I build firejail .deb straight from this repo source.

[2019-06-22 07:21] rusty-snake commented on #2748
returns /usr/local/
as folder where firejail is installed.
For older versions of firejail /etc/firejail/ however might be correct.

@matu3ba if you compile firejail your self (without `./configure --prefix=/usr`), firejail is instaled under `/usr/local`, but if you add `--prefix=/usr` to configure or use a packet from a distro `/etc/firejail` is correct.

[2019-06-22 07:26] rusty-snake commented on #2755
@matu3ba  https://github.com/netblue30/firejail/issues/2748#issuecomment-504639472

[2019-06-22 07:31] rusty-snake commented on #2793
@laniakea64 this commit: https://github.com/netblue30/firejail/commit/419d876d9fef926e183c0b3bc0961a9abe9e7ba5

[2019-06-22 07:38] rusty-snake commented on #1235
Works (but should not work):`firejail --noblacklist="~/Bilder" --read-only="~/Bilder" touch Bilder/test2`

[2019-06-22 07:45] rusty-snake commented on #2792
more to add:
 * https://github.com/netblue30/firejail/projects/1
 * (not all) https://github.com/netblue30/firejail/issues?&q=is%3Aissue+label%3Aquestion
 * (not all) https://github.com/netblue30/firejail/issues?&q=is%3Aissue+label%3Ainformation

[2019-06-22 07:53] rusty-snake commented on #2748
Fixed.
@matu3ba you should can edit the wiki, fell free to directly improve the wiki.

[2019-06-22 09:07] rusty-snake commented on #2792
I started translating the FAQ to Markdown: https://gist.github.com/rusty-snake/3b62c4c433320415dee6f1f836887d5f

[2019-06-22 21:45] Fred-Barclay commented on #2579
Let's close now and reopen later if needed. Thanks everyone! :smile:

[2019-06-22 21:45] #2579 closed

[2019-06-23 07:35] rusty-snake commented on #2792
Note: Update the FAQ link in the README when this is Finish.

[2019-06-23 07:37] rusty-snake commented on #2681
Closing for now, since there is a workaround.

[2019-06-23 13:19] sudo-give-me-coffee commented on #2690
How to make permissions in the right way?

### Currently:

chmod 755

### Defined in:

https://github.com/sudo-give-me-coffee/PhotoGIMP/blob/bd4964162378347639fff0af751b00893b5f85e3/makePhotoGIMP.sh#L86

### This produces the following permissions:

[code]

#### Teorically at least `AppRun` should be run:

[code]

#### But not occurs:

[code]

[2019-06-23 13:26] rusty-snake commented on #2690
@sudo-give-me-coffee  (_nice name :wink:_)
`/run/firejail/appimage/.appimage-4148/AppRun` may have the right permissions, but
`/run/firejail/appimage/.appimage-4148` has the wrong.

[2019-06-23 13:36] sudo-give-me-coffee commented on #2690
I understood, so for now, the ideal is to mount the AppImage outside the sandbox?

[2019-06-23 13:42] probonopd commented on #2690
I wonder why _some_ AppImages have the wrong permissions there (most AppImages are correct).

In any case, it looks like Firejail is behaving correctly.

[2019-06-24 12:20] matu3ba commented on #2748
@rusty-snake Please review my changes.
The language needs rephrasing though.
I did add some examples for my thunderbird adaption, however the globals.local is not properly explained.
/usr/share/doc/firejail/profile.template does not exist on my system.
The noblacklist, whitelist behavior needs more explanation.

[2019-06-24 12:31] rusty-snake commented on #2748
@matu3ba looks great.

For me too :grinning: .

May we should leave the `firejail/`

Firejail first looks in `~/.config/firejail/` for a profile and if it doesn't find one then it looks in `/etc/firejail`.
The execution order can be seen for the thunderbird profile as `include thunderbird.local` and then `include globals.local`.

Should be reworked again. Let's find a solution here.

You need FJ 0

[2019-06-24 13:25] netblue30 commented on #2793
Use --disable-firetunnel, something like this:
[code]

[2019-06-24 13:26] #2793 closed

[2019-06-24 13:27] netblue30 commented on #2792
I'll move it in the wiki today!

[2019-06-24 14:25] netblue30 opened #2794 "Wiki: Frequently Asked Questions"
Issue for discussions about https://github.com/netblue30/firejail/wiki/Frequently-Asked-Questions

[2019-06-24 14:26] netblue30 commented on #2794
sorry, we already have one!

[2019-06-24 14:26] #2794 closed

[2019-06-24 14:33] netblue30 commented on #2792
New wiki [page](https://github.com/netblue30/firejail/wiki/Frequently-Asked-Questions), start editing! I'm not sure what I'll do with the one on the web page, probably I'll redirect it to wiki.

[2019-06-24 15:02] laniakea64 commented on #2793
Works well, Thanks @netblue30 ! :smiley:

[2019-06-24 16:13] rusty-snake commented on #2792
* TODOs I noted in https://gist.githubusercontent.com/rusty-snake/3b62c4c433320415dee6f1f836887d5f/raw/6b3f8cada23e8fa839f239d774c3329e441a7d3c/FAQ.md
   1. > **Firefox crashing on Netflix, AMDGPU PRO, Nvidia closed source drivers**

      TODO: should we add `--ignore=noroot` `--ignore=nonewprivs` … ?
   2. > **How do I run two instances of Firefox?**

      TODO: `--private` will lose everything

[2019-06-24 17:40] netblue30 commented on #2792
@rusty-snake - go for it!

[2019-06-24 17:42] netblue30 commented on #2787
It shouldn't show anything on the screen, we have to clean it up. @glitsj16 give it a try.

[2019-06-24 17:55] netblue30 commented on #2790
I did a short test, it seems to be fine. I would say let's put it in and deal with things breaking when we get somebody complaining.

[2019-06-24 18:51] rusty-snake commented on #2205
@iskunk sorry for later responding, but now I have found a solution:
`firejail --blacklist=${HOME}/.ICEauthority --x11=xephyr openbox`

[2019-06-24 21:51] iskunk commented on #2205
@rusty-snake: Confirmed that blacklisting `~/.ICEauthority` prevents the issue.

The various `--x11` modes should probably include that one in their blacklisting, yes? The issue of a sandboxed environment killing the host X session is surely unexpected.

[2019-06-24 23:30] glitsj16 commented on #2787
@netblue30 Thanks for clearing that up. I'm in the middle of an annual dance, relocating the family now school responsibilities are suspended for a couple of months. In a day or two I should have a PR ready.

[2019-06-24 23:39] glitsj16 commented on #2790
Added `nodbus` to ssh{,-agent}.profile in https://github.com/netblue30/firejail/pull/2789. Closing this for now. As always, if someone encounters issues with the changes, feel fre to open.

[2019-06-24 23:39] #2790 closed

[2019-06-25 01:15] netblue30 commented on #2787
No problem, take your time.

[2019-06-25 04:41] Fred-Barclay commented on #2792
For the PulseAudio FAQ https://github.com/netblue30/firejail/wiki/Frequently-Asked-Questions#pulseaudio-7080-issue it says

Since this issue is only present for pulseaudio 7 or 8, and currently on Arch pulseaudio is at version 12.2, any reason to leave Arch in the list?

[2019-06-25 05:31] rusty-snake commented on #2205
Because it must be added to the openbox profile, but only when --x11 is present, I see three options:
1. add it with a comment to openbox and other affected WMs
2. add it to the documentation ([1], [2])
3. `--x11` implieds `blacklist ${HOME}/.ICEauthority`

[1]: https://firejail.wordpress.com/documentation-2/x11-guide/
[2]: https://firejail.wordpress.com/documentation-2/basic-usage/#x11

[2019-06-25 06:22] rusty-snake commented on #1139
closed everything expect gnome-boxes (`firejail --noprofile --writable-var gnome-boxes` works) I will write a profile this week.
***
@qazip Have you found the time

[2019-06-25 08:00] iskunk commented on #2205
I would think #3 is the best option, for the following reasons:
* This is not just a matter of (known) WMs possibly ending the session; badly-written programs, or even a hostile program may do this
* The failure mode (loss of an X session, with associated potential for data loss) makes it a bit more serious of a threat than can reasonably be addressed in documentation
* `--x11` already blacklists

[2019-06-25 08:24] rusty-snake commented on #2205
_With `#3` you link to an issue :grin:_

I also think that the 3. option the best solution is, if you hate the necessary C knowledge, you are welcome to open a PR, I can' t (yet) write C :cry: .

[2019-06-25 10:50] qazip commented on #1139
No, sorry. I tried to install it from AUR but it's giving an error. I don't want to compile it myself..

But if it works for you, it probably works for me too!

[2019-06-25 15:28] alexandre1985 opened #2795 "Firefox cannot open mailto links"
My Firefox cannot open mailto: links to my Evolution email client.
Help?

[2019-06-26 00:51] #2787 closed

[2019-06-26 00:57] glitsj16 commented on #2787
@netblue30 I left in the xauth output while using --debug (where it might be helpful). If this is not what you want, I can easily take out the relevant conditional in https://github.com/netblue30/firejail/blob/master/src/firejail/x11.c#L1135 and below. Hope this didn't break anything...

[2019-06-26 07:32] rusty-snake commented on #2795
Try:
[code]

[2019-06-26 07:33] SkewedZeppelin commented on #2795
or https://github.com/netblue30/firejail/issues/1718#issuecomment-406819438

[2019-06-26 07:37] #2765 closed

[2019-06-26 07:40] alexandre1985 commented on #2795
I test it, and it isn't working still... @rusty-snake

[2019-06-26 07:42] SkewedZeppelin commented on #2795
@alexandre1985 can you fix the typo on the last line and try again?

[2019-06-26 07:42] alexandre1985 commented on #2795
Yes, I didn't write the typo on my `firefox.local` @SkewedZeppelin

[2019-06-26 07:54] rusty-snake commented on #2707
@rezohs1234 I'm going to close that for now because of inactivity. Please fell free to reopen if you have more questions.

[2019-06-26 07:54] #2707 closed

[2019-06-26 07:57] rusty-snake commented on #2669
I think we schould implement @Vincent43  idea

[2019-06-26 07:59] rusty-snake commented on #2776
@mirko  I'm going to close this for now because of inactivity. Please fell free to reopen if you have more questions.

[2019-06-26 07:59] #2776 closed

[2019-06-26 08:00] rusty-snake commented on #2667
@tinmanx I'm going to close this for now because of inactivity. Please fell free to reopen if you have more questions.

[2019-06-26 08:00] #2667 closed

[2019-06-26 08:01] rusty-snake commented on #2786
@msva does that work for you?

[2019-06-26 08:07] alexandre1985 commented on #2795
If you give me the commands to create a firejail config file and test opening firefox and clicking on a mailto: link , I can do that on my system

[2019-06-26 08:12] rusty-snake commented on #2795
What is the terminal output?

Have you setup your FF to open in evolution by default or to ask?

[2019-06-26 08:12] rusty-snake commented on #2670
@Raj2032 I'm going to close this for now because of inactivity. Please fell free to reopen if you still have this issue.

[2019-06-26 08:12] #2670 closed

[2019-06-26 08:15] alexandre1985 commented on #2795
[code]

[2019-06-26 08:18] rusty-snake commented on #2795
Try to add `ignore nodbus` and `ignore apparmor` to the `firefox.local` above.

[2019-06-26 08:24] rusty-snake commented on #2114
@onlyjob does `--private=~/tmp_` or `--prifate-home=tmp_` work for you. Note: that they don't do exactly the same.

[2019-06-26 08:29] rusty-snake commented on #2107
@greencopper I'm closing here due to inactivity, please fell free to reopen if you have more questions.

[2019-06-26 08:29] #2107 closed

[2019-06-26 08:31] rusty-snake commented on #2017
Any progress on these ideas?

[2019-06-26 08:31] alexandre1985 commented on #2795
It works now @rusty-snake.
:wink:

[2019-06-26 08:31] #2795 closed

[2019-06-26 08:35] rusty-snake commented on #2795
greate, if you want, you can try to findout if it works with only one `ignore` (is more secure).

[2019-06-26 08:40] alexandre1985 commented on #2795
I only need `ignore nodbus`.
Thank you :1st_place_medal:

[2019-06-26 08:42] rusty-snake commented on #2289
@mxljw does `firejail --ignore=private-etc --ignore=private-tmp --ignore=no3d --ignore=machine-id --ignore="net none" --ignore=nodbus --ignore=protocol --ignore=seccomp --ignore=noroot keepassxc`works?
if so try to remove ignore for ignore to figure out which option cause the issue.
if not try to comment all includes in keepassxc.profile

[2019-06-26 08:50] rusty-snake commented on #2256
@crass you can do in `globals.local`
[code]

this will break many apps, but if you want you can do this with `sed`, `awk` & Co.
profile before:
[code]
profile after:
[code]

[2019-06-26 09:03] rusty-snake commented on #2231
[code]
 \>800 thats a lot, but the most will be in a profile folder so we will still have a huge folder.
but for the visual it would be helpful
[code]

[2019-06-26 09:04] rusty-snake commented on #2480
@odiferousmint I'm closing here due to inactivity, please fell free to reopen if you still have this issue.

[2019-06-26 09:04] #2480 closed

[2019-06-26 09:05] rusty-snake commented on #2472
@Zypherspace
I'm closing here due to inactivity, please fell free to reopen if you still have this issue.

[2019-06-26 09:05] #2472 closed

[2019-06-26 09:07] rusty-snake commented on #2224
@asdfghjz I'm closing here due to inactivity, please fell free to reopen if you have more questions.

[2019-06-26 09:07] #2224 closed

[2019-06-26 09:12] rusty-snake commented on #2223
@admzzz I'm closing here due to inactivity, please fell free to reopen if you have more questions.

[2019-06-26 09:12] #2223 closed

[2019-06-26 09:16] rusty-snake commented on #1838
@ICHx I'm closing here due to inactivity, please fell free to reopen if you still have this issue.

[2019-06-26 09:16] #1838 closed

[2019-06-26 09:43] rusty-snake commented on #2302
@D-Nice to confirm:
works:
[code]
didn't work:
`seccomp`

[2019-06-26 09:46] rusty-snake commented on #2008
Should we implement this?

[2019-06-26 09:48] #2002 closed

[2019-06-26 09:48] rusty-snake commented on #2002
@netblue30  echoing @chiraag-nataraj

[2019-06-26 09:49] rusty-snake commented on #1299
@uzytkownik I'm closing here due to inactivity, please fell free to reopen if you have more questions.

[2019-06-26 09:49] #1299 closed

[2019-06-26 10:06] rusty-snake commented on #1731
@curiosity-seeker still an issue?

[2019-06-26 10:11] rusty-snake commented on #1615
Should we do anything here or should we close.

[2019-06-26 10:13] rusty-snake commented on #1481
@kanyck
I'm closing here due to inactivity, please fell free to reopen if you still have this issue.

[2019-06-26 10:13] #1481 closed

[2019-06-26 10:20] rusty-snake commented on #1353
@rieje can you do what @liloman say to look if the files are there?

[2019-06-26 10:32] rusty-snake commented on #1316
@xahare still need help?

[2019-06-26 10:35] rusty-snake commented on #1908
@oxwivi
I'm closing here due to inactivity, please fell free to reopen if you have more questions.

[2019-06-26 10:35] #1908 closed

[2019-06-26 10:47] rusty-snake opened #2798 "Firejail is almost broken on fedora silverblue"
Don't know if that is fixable.

[2019-06-26 10:54] rusty-snake commented on #2261
@kabo still an issue?

For me: Fedora 30, GNOME + Wayland, firejail 0.9.61, flameshot 0.6.0. it works without changes.

[2019-06-26 11:36] curiosity-seeker commented on #1731
@rusty-snake : I don't know as I'm no longer using unbound. Sorry!

[2019-06-26 12:08] lskrejci opened #2799 "--overlay-named exits with error as of linux 5.1.15"
Distribution: Arch Linux
firejail: 0.9.60-1
linux: 5.1.15.arch1-1

Running `firejail --noprofile --overlay-named=test` fails:

- on a system with a separate /home partition:

- on a system with a single root partition:

dmesg on both system configurations contains:

The same command works on linux 5.1.14.
Upstream commit that appears to have introduced the issue: [ovl: detect overlapping layers](h

[2019-06-26 12:40] rusty-snake commented on #1731
ok, then I go ahead and close for now, if anyone still has this issue, fell free to re-open

[2019-06-26 12:40] #1731 closed

[2019-06-26 14:59] D-Nice commented on #2302
qutebrowser won't start with either of those.

With the seccomp filter for the most recent default profile I have, qutebrowser starts, but no page ever loads.

```seccomp.drop @clock,@cpu-emulation,@debug,@module,@obsolete,@raw-io,@reboot,@resources,@swap,acct,add_key,bpf,fanotify_init,io_cancel,io_destroy,io_getevents,io_setup,io_submit,ioprio_set,kcmp,keyctl,mount,name_to_handle_at,nfsservctl,ni

[2019-06-26 15:04] rusty-snake commented on #2302
Work the following? (rm chroot)
[code]

Only `name_to_handle_at`, `chroot`, `init_module` and `delete_module` are loggen in syslog?

[2019-06-26 17:15] netblue30 commented on #2792
Arch removed from PulseAudio issue!

[2019-06-26 20:54] iskunk commented on #2205
Oh, nuts, didn't notice that :-]

I looked in the code. I can find where to add blacklisting for `--x11=none`, but the other cases are a bit less straightforward. There's a lot of special handling for `~/.Xauthority`, for example.

I did figure that the `/tmp/.ICE-unix/` socket directory should probably also be blocked by default in a sandboxed session. (I can't find a ready-made frontend program

[2019-06-26 22:01] rieje commented on #1353
They are not there. On Arch Linux, firejail version 0.9.60. My [firefox.profile](https://pastebin.com/GyAA59vK).

[2019-06-27 00:17] matu3ba commented on #2748
@rusty-snake
Did rework the whole thing. Please review.
For the test cases (I did not find any): Could you briefly tell, what is to be expected from conflicts?

[2019-06-27 00:58] matu3ba commented on #2046
@intika Please review FAQ.

[2019-06-27 01:12] matu3ba commented on #2792
@netblue30 @sakaki-
#404 defines improved strace hint, which belongs to the guide and does not make sense to seperate
#1652 is a gnome guide for xephyr, does anybody use that frequently/is that not already discussed in a guide?
<strike>#2707 used a reference to overlayfs, which is described in another guide</strike>

[2019-06-27 01:21] matu3ba commented on #2792
@rusty-snake https://github.com/netblue30/firejail/projects/1 explains several things. Do you want me to write some tests on that for explanation?
I do not get exactly what the use cases are and would likely write maybe 1 sentence to each functionality.
Regarding https://github.com/netblue30/firejail/issues?&q=is%3Aissue+label%3Aquestion, https://github.com/netblue30/firejail/issues?&q=is%3Aissue+

[2019-06-27 02:52] Fred-Barclay commented on #2798
@rusty-snake what bits are almost broken?

[2019-06-27 02:54] intika commented on #2046
@matu3ba ohh cool i read that this was linked into https://github.com/netblue30/firejail/wiki/Frequently-Asked-Questions#RTNETLINK-error so i guess we are good :)

[2019-06-27 06:13] rusty-snake commented on #2205
`private-tmp` prenvents access to `/tmp/.ICE-unix`, but if a profile not has it …

[2019-06-27 06:22] rusty-snake commented on #1353
@rahiel confirming that `--private` + `--whitelist` didn't work, but why do you use `--private`.

[2019-06-27 06:30] rusty-snake commented on #2792
I think only the Usage section is good for the FAQ, the other are better for a own page.

that was rather meant that if you have time / energy you can go through it to see which of them are suitable
***
#404 Found.  :rofl:

[2019-06-27 07:01] rusty-snake commented on #2748
I think the focus of this site should be on profiles therefore `nowhitelist`, `blacklist-nolog`, `read-only` should be omitted.

I rewrite the "Steps for contributing your own profile" section, fell free to suggest anything.

[2019-06-27 07:02] rusty-snake commented on #2046
if you have anything to improve, go ahead.

[2019-06-27 09:08] Vincent43 commented on #1615
This report is quite dated. Firejail apparmor profile allows reading `/proc` now. I don't see anything from `<abstractions/nvidia>` not already covered.

[2019-06-27 09:08] #1615 closed

[2019-06-27 09:30] #2434 closed

[2019-06-27 09:35] #1385 closed

[2019-06-27 12:17] matu3ba commented on #2748
That looks very nice and comprehensive now, but I would like to mention `--audit` for checking big flaws or why was it written in the first place for not using it?

`read-only` had a weird bug you also commented in #1235  , which is why I wanted to explain and test this.

[2019-06-27 12:43] rusty-snake commented on #2748
if you reverberate to the template, everything that doesn't cause problems should be enabled, I think it might confuse rather. So I would suggest to add it to --debug, --tarce, ... and not as a single point.

than omit nowhitelist, blacklist-nolog and leave a short hint for read-only

[2019-06-27 12:47] matu3ba commented on #2792
Will look into that.

I did request a search option for duplicates in github and will do it by that means. Aside hopefully soon the related options are searchable/usable to group issues.

xD

[2019-06-27 12:59] matu3ba commented on #2748
@rusty-snake Please review. Is there anything essential missing?

[2019-06-27 13:08] matu3ba commented on #2446
@chiraag-nataraj Could you change the title to "Automatic isolation of user programs" or "Isolation of user programs without interaction" ?
If this is technical not feasible due to complexity etc, I would suggest to close this.

[2019-06-27 13:17] rusty-snake commented on #2748
any later blacklist. -> any later `blacklist`/`whitelist`.

Common mistakes:
 * `blacklist PATH`: **PATH is still present**, but not accessible (with whitelist they don't exist)
 * `noblacklist  ~/Documents/presentations` `blacklist ~/Documents`: didn't work
 * whitelisting profiles: new files are not saved (=> don't use for text editors, image editing software, ... )

[2019-06-27 14:46] Vincent43 opened #2801 "String overflow warning with gcc 9.1 on Arch Linux"
[code]

[2019-06-27 16:49] matu3ba commented on #2792
@netblue30
What do you want to do with all the questions/comments on the support page?
Are there tools for extracting the comments and importing them into another github repo?
Or do you think it is even worth the effort?

[2019-06-27 17:51] matu3ba commented on #2792
@rusty-snake I was thinking of explaining one profile, but after a while I realized
that it is more useful to integrate that into the profile creation (for the part Usage).

So the overall idea is to **change name of "Wiki: creating profile" to "Wiki: Usage and Profiles"**.
I have several duplicate stuff already and generally the shell parameters are quite the same as the profile options.
dirty id

[2019-06-27 18:56] rusty-snake commented on #2792
i think that creating profiles should contain all information that makes writing your own profiles easier, so what about spliting a small usage out of your Idea and add it to FAQ and the rest to Creating profiels

[2019-06-27 19:09] rusty-snake commented on #2798
Some examples:
 * `wget example.com/something` works
 * `firejail wget example.com/something`: Cannot write to 'something'  (Operation not permitted)
***
 * `firejail firefox`: no window are opening
***
 * `firejail epiphany`: `Fatal initialization error: Failed to create directory "/var/home/USER/.local/share/epiphany
***
 * `pwd`: /var/home/USER
 * `firejail bash`
     * `pwd`: /
***
 * `firejai

[2019-06-28 00:33] netblue30 commented on #2798
It is totally broken! They run a very unconventional filesystem, with /home and a lot of other directories as symbolic links inside /va, details here:

https://docs.fedoraproject.org/en-US/fedora-silverblue/technical-information/#filesystem-layout

We won't be able to support this distro. It is an enterprise distro anyway, something to do with containers.

[2019-06-28 00:41] netblue30 commented on #2792
Maybe we can extract some of the questions/solutions they come up with, but other than that is not worth the trouble importing them.

[2019-06-28 02:13] travankor opened #2804 "kdialog doesn't work with Firejail"
Running firejail  + kdialog breaks most KDE applications on KDE.
Repoduce by:

1. Install KDE+kdialog
2. Set up firejail
3. Most KDE applications like dolphin won't launch

[2019-06-28 03:43] iskunk commented on #2205
Yeah, that explains why `--private-tmp` made the issue go away (as well as `--private` with `~/.ICEauthority`).

This does seem somewhat urgent as the authentication needed to mess with the X session is separate from `XAUTHORITY`; i.e. blocking that one does not protect the session.

Should we pull in **netblue30**? I don't think a fix for this should be complicated; it's mainly knowing where the

[2019-06-28 06:14] rusty-snake commented on #2804
@travankor kdialog didn't has a firejail profiel so what do you mean with

If you did `sudo ln -s /usr/bin/firejail /usr/local/bin/kdialog`, try `touch ~/.config/firejail/kdialog.profile` (maybe also `mkdir ~/.config/firejail`).

[2019-06-28 09:39] jose1711 opened #2805 "net none in udiskie profile is causing dbus errors"
[code]

`udiskie` complains about inability to connect do accessibily bus unless this line is commented out in its profile

https://github.com/netblue30/firejail/blob/d824eee1d0ee2dfb816ef644a1cb4b9cadd7be1c/etc/udiskie.profile#L24

[2019-06-28 09:50] rusty-snake commented on #2805
Not only udiskie, the most GTK+3 app have this.

[2019-06-28 10:00] jose1711 commented on #2805
Maybe it could be mentioned in template too then

[2019-06-28 13:41] zabbal opened #2807 "Document broken options order for appimage"
While trying to run appimage the order in which options are processed actually have an impact on the way appimage is executed:

`
firejail --private=~/tmp/test --net=none --appimage ~/.local/img
`
will execute an appimage as expected.

`
firejail --private=~/tmp/test --appimage ~/.local/img --net=none
`
Will fail because the last option is given to appimage as-is instead of being processed by fire

[2019-06-28 16:55] D-Nice commented on #2302
Latest doesn't work.

I don't have a syslogger on my void install.

[2019-06-28 18:07] ayhc opened #2808 "KDE Plasma 5.16: file pickers and Dolphin require access to ${HOME}/.config/kioslaverc"
Running Fedora 30 (with Plasma 5.16 from a third-party repo) and Firejail 0.9.60.

Actual behaviour: Opening Dolphin, or opening the file picker in LibreOffice, results in an error message saying that ${HOME}/.config/kioslaverc cannot be accessed.

Expected behaviour: No error message

Workaround: Manually add the following to the Dolphin and LibreOffice profiles:

`noblacklist ${HOME}/.config/kio

[2019-06-29 12:47] smitsohu commented on #2808
Can you please check if, instead of noblacklisting, `read-write ${HOME}/.config/kioslaverc` resolves the issue as well? And is there something broken or you just see a warning?

[2019-06-29 13:03] #1235 closed

[2019-06-29 13:43] rusty-snake commented on #2302
How do you did that then?

[2019-06-29 13:50] smitsohu commented on #1235
Thanks! It should work now, you can give it a try.

[2019-06-29 15:17] laniakea64 commented on #1235
It does work now.  Thanks @smitsohu for fixing this!

[2019-06-29 16:52] reinerh opened #2809 "firejail hanging when using strace, but ptrace is not allowed"
A Debian user [reported the issue](https://bugs.debian.org/931051), that firejail is just hanging, when he was using `strace ls` with a profile that had the ptrace syscall dropped, even though `--allow-debuggers` has been specified.

So there seem to be two issues:
 * why does firejail just hang, instead of terminating when the program tries to ptrace something
 * should `--allow-debuggers` specif

[2019-06-29 17:15] #2801 closed

[2019-06-29 17:46] reinerh opened #2810 "static analysis warnings"
When building firejail with the clang static analyzer (scan-build), it reports a few warnings.

[code]

[code]

It would be nice to get rid of them. Then the check could also be enabled in the CI.

[2019-06-29 18:24] ayhc commented on #2808
`read-write ${HOME}/.config/kioslaverc` did not solve the problem.

I did not see any breakage other than the warning message.

[2019-06-29 18:29] rusty-snake commented on #1832
@Boyardism still need help?

[2019-06-29 18:36] rusty-snake commented on #2364
@bclark76 I'm closing here due to inactivity, please fell free to reopen if you still have this question.

[2019-06-29 18:36] #2364 closed

[2019-06-29 21:46] h0tw4t3r commented on #2808
I am using Plasma with Dolphin, but on the ParrotOS and haven't met this issue.

[2019-06-29 23:06] smitsohu commented on #2808
[code]
Firejail doesn't blacklist this file in the default configuration, did you maybe add this command somewhere?

[2019-06-29 23:56] jmcclelland opened #2811 "I can't open a libreoffice document from either thunderbird or firefox"
When I open an odt attachment in thunderbird, (or open one directly via Firefox), the Libre Office splash image pops up and then goes away without opening the document.

The output from firejail is below.

Do you have any suggestion on what changes I could make to enable opening libreoffice attachments directly?

I'm running debian buster with firejail 0.9.58.2-2

Thank you!

[code]

[2019-06-30 02:24] mahilkita opened #2812 "Error: no suitable firefox executable found"
I just installed firejail - the install ran smoothly - however I do not have firefox in my root directory but rather in home/david/opt - thus when running david@Liberation:~$ firejail firefox I get this :+1:

 Reading profile /etc/firejail/firefox.profile
Reading profile /etc/firejail/disable-common.inc
Reading profile /etc/firejail/disable-devel.inc
Reading profile /etc/firejail/disable-programs.

[2019-06-30 06:21] SkewedZeppelin commented on #2811
This is expected, the workaround is to save the document and manually open it via your file manager.

[2019-06-30 06:24] SkewedZeppelin commented on #2812
you can try putting the following in ~/.config/firejail/firefox.local
[code]

[2019-06-30 09:17] rusty-snake commented on #2812
more instructions for the TBB:
https://github.com/netblue30/firejail/wiki/Sandboxing-Binary-Software#tor-browser-home-install
https://github.com/rusty-snake/firejailed-tor-browser

[2019-06-30 09:23] rusty-snake commented on #2119
do we want to continue or close the idea with profiles for gog?

[2019-06-30 15:17] rusty-snake commented on #1139
Give up writing a profile for gnome-boxes, poweroff a VM always ends in a coredump.

[2019-06-30 16:34] netblue30 commented on #2792
https://github.com/netblue30/firejail/issues/2812

Quite a common question, I'll added to the FAQ.

[2019-06-30 16:36] netblue30 commented on #2810
I'll fix them, they are part of "make scan-build". I assume you are on the upcoming Debian version.

[2019-06-30 16:47] netblue30 commented on #2729
@chiraag-nataraj  - re FAQ: all done!

[2019-06-30 19:30] Klaris69 opened #2813 "firejail help for novice"
Hi hi,
i am a newbie in linux and use in firejail :-P
I use: OS Linux Mint 19.1 Mate + firejail_0.9.56.2-LTS_1_amd64.deb
i want to use firejail only to block applications to access the internet.

I used the command: sudo firecfg
I misunderstood the command function,, (I thought it was a function to start the service automatically after the boot)
how can I disable or reset this setting?
when i run

[2019-06-30 19:49] Klaris69 commented on #2813
Ok, If I'm not mistaken for my first question, the answer is: firecfg --clean

[2019-06-30 19:51] rusty-snake commented on #2813
Hi @Klaris69

firejail isn't a service, undo with `sudo firecfg --clean`

what do i do to keep this app running without internet access?

Use `--net=none` on the command line or `net none` in profiles.
Example for mpv (media player):
Command line: `firejail --net=none mpv foo.mp4` (works always)
Profiles: add `net none` to `~/.config/firejail/mpv.local` and run `firejail mpv foo.mp4` (works only i

[2019-06-30 19:53] rusty-snake commented on #2813
You was faster :joy:

[2019-06-30 19:57] rusty-snake commented on #2813
FAQ about this: https://github.com/netblue30/firejail/wiki/Frequently-Asked-Questions#how-do-i-run-vlc-in-a-sandbox-without-network-access

[2019-06-30 20:26] Klaris69 commented on #2813
Oki, thnaks :-)

[2019-06-30 20:32] #2813 closed

[2019-07-01 00:14] kozross commented on #2119
Close it - I'm not sure I have the time to do this now.

[2019-07-01 06:18] #2119 closed

[2019-07-01 11:47] matu3ba commented on #2748
@rusty-snake Please review.
Did add your stuff. Did add a better explanation of profile precedence.

The template deserves a better place before the explanation.
Do shell commands have any special handling different from the profile?
Can you think of a better name that also mentions that profiles are explained here?

[2019-07-01 12:09] matu3ba commented on #2792
I did write the usage to the Wiki:Create profile in #2748.
Could you elaborate which points are useful to explicitly mention besides the README.md regarding the command line?

TODO-list
FAQ questions
Symlink fixing (installation path in /usr/local ie #1995, #2629
Apparmor activation/deactivation/integration testing #1987,
Allowing specific profiles #2097,
Whitelist and Blacklist bugs?`#2419

maybe

[2019-07-01 14:09] matu3ba commented on #2792
TODO:
#2812 tor browser fix, should be already done, but I do not see that (yet)
#2795 firefox mailto, #1718 mailto for chromium,
#2579 #692 adding information of incompability of running firejail inside docker (no virtualization as goal of firejail)
#2291 apparmor local customizations (fixing apparmor)
#1521 root permission crash/using firejail on root users server (seperate guideline?)
#833 read

[2019-07-01 14:21] rusty-snake commented on #2748
* Profiles
* about profiles
* working with profiles
* ...

You can still run without firejail (`/usr/bin/firefox`) and use the commandline (`firejail --noprofile firefox`, `firejail --profile=myprofiel.profile fierfox`)

fixed in master

a common mistake?

first cmd then recusive the profiles

[2019-07-01 14:26] rusty-snake commented on #2748
I recommend not to use /etc as it is not relevant and you must be root to edit it.

[2019-07-01 14:27] SkewedZeppelin commented on #2792
I don't like recommending this, nor have I seen it necessary. Where is it from?

[2019-07-01 14:27] jmcclelland commented on #2811
Thanks for the answer.

[2019-07-01 14:27] #2811 closed

[2019-07-01 14:29] rusty-snake commented on #2792
@SkewedZeppelin from the wordpress FAQ.

line 135: https://github.com/netblue30/firejail/wiki/Frequently-Asked-Questions/_compare/edf31690da5d6fe123482a3b7d21aef013f53b54